/*PRODUCTS-SLIDER 
------------------------------*/
.slider-container {
	margin: 20px -15px;
	padding: 10px 15px;
	background: white;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.slider-container h2 {
	margin:0 0 15px 0; 
	padding: 0 0 5px 15px;
	border-bottom: 1px solid #eee;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.product-slider {
	padding: 0 40px;
}
.product-slider.owl-theme .owl-controls {
	margin:0;
}

.product-slider .owl-controls .owl-buttons div.owl-prev, .product-slider .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:40%;
	margin:0;
	font-size: 14px;
	background-color: transparent;
	color: #999;
}
.product-slider .owl-controls .owl-buttons div.owl-prev {
	left:0;
	padding: 2px 8px 2px 6px;
}
 .product-slider .owl-controls .owl-buttons div.owl-next{
	right:0;
	padding: 2px 6px 2px 8px;
}
@media screen and (max-width: 1024px) {
	.product-slider .item .heading{
		bottom: 0;
	}
}

/*CATALOG
=================================*/

.item-container {
    padding:7px;
    height: 272px;
}

.item-container img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    max-width: 165px;
    max-height: 165px;
}
.item-name-container {
    width: 165px;
    height: 60px;
    overflow: hidden;
}
.item-image-container{
	position: relative;
	height: 165px;
}
.item-price-container {
    position: absolute;
    bottom: 0;
    margin: 0 0 4px 0;
}
