/*PRODUCTS-SLIDER 
------------------------------*/
.slider-container {
	margin: 20px -15px;
	padding: 10px 15px;
	background: white;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.slider-container h2, .slider-container .h2 {
	margin:0 0 15px 0; 
	padding: 0 0 5px 15px;
	border-bottom: 1px solid #eee;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.product-slider {
	padding: 0 40px;
}
.product-slider.owl-theme .owl-controls {
	margin:0;
}
.product-slider .item {
	overflow: hidden;
	display: inline-block;
	position:relative;
	border:1px solid #eee;
	-moz-transition   : all ease-out 0.3s;
	-o-transition     : all ease-out 0.3s;
	-webkit-transition: all ease-out 0.3s;
    transition        : all ease-out 0.3s; 
}
.product-slider .item:hover {
	border-color:#ddd;
}
.courses-slider.product-slider .item:hover .heading{
	bottom: -100%;
	/*bottom: 0;*/
}

.product-slider .item:hover img {
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
   filter: alpha(opacity=0.5);
   /*opacity: 0.5;*/ 
}

.courses-slider.product-slider .item .heading{
	position: absolute;
/*	background: rgba(255, 255, 255, 0.9);*/
/*	background: rgba(237, 142, 142, 0.6);*/
	background: rgba(68, 68, 68, 0.5);
	/*color: #444;*/
	color:white;
	font-size:14px;
	/*bottom: -100%;*/
	bottom: 0;
	width: 100%;
	height:70px;
	padding: 5px;
	/*text-align: center;*/
	-moz-transition   : bottom ease-out 0.3s;
	-o-transition     : bottom ease-out 0.3s;
	-webkit-transition: bottom ease-out 0.3s;
    transition        : bottom ease-out 0.3s; 
    -webkit-box-shadow: 0px 0px 3px rgba(204, 204, 204, 0.7);
	-moz-box-shadow: 0px 0px 3px rgba(204, 204, 204, 0.7);
	box-shadow: 0px 0px 3px rgba(204, 204, 204, 0.7);
}
.product-slider .item .heading span{
	vertical-align:middle;
	display:inline-block;
	/*height:100%;*/
}
.product-slider .item .heading .price {
	font-weight: 700;
}
.product-slider .item img {
	max-width: 200px;
	max-height: 200px;
	-moz-box-sizing   : border-box;
    -o-box-sizing     : border-box;
    -webkit-box-sizing: border-box;
    /*border-color:#fff;*/
    -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
   opacity: 
}
.product-slider .owl-controls .owl-buttons div.owl-prev, .product-slider .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:40%;
	margin:0;
	font-size: 14px;
	background-color: transparent;
	color: #999;
}
.product-slider .owl-controls .owl-buttons div.owl-prev {
	left:0;
	padding: 2px 8px 2px 6px;
}
 .product-slider .owl-controls .owl-buttons div.owl-next{
	right:0;
	padding: 2px 6px 2px 8px;
}
.item-catalog img {
    max-width: 165px;
    max-height: 165px;
}
@media screen and (max-width: 1024px) {
	.product-slider .item .heading{
		bottom: 0;
	}
}