/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    margin-top: -30px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 300ms ease;
}
.owl-theme:hover .owl-nav {
    opacity: 0.9;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 42px;
    font-weight: 300;
    margin: 5px;
    padding: 4px 7px;
    background: #ff8399;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;

}
.owl-theme .owl-nav .owl-prev{
    color: #fff!important;
    float: left;
}
.owl-theme .owl-nav .owl-next{
    color: #fff!important;
    float: right;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    color: #ff8399!important;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -20px;

}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: -30px;
    height: 0;
    position: absolute;
    width: 100%;

}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 5px;
    margin: 5px 7px;
    background: #ff8399;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 300ms ease;
    border-radius: 0;
    opacity: 0;
}
.owl-theme:hover .owl-dots .owl-dot span {
    opacity: 0.9;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
