div.bx-auth-reg input.bx-auth-input {
    vertical-align: middle;
}

div.bx-auth-reg span.bx-auth-secure {
    background-color: #FFFAE3;
    border: 1px solid #DEDBC8;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

div.bx-auth-reg div.bx-auth-secure-icon {
    background-image: url(images/sec.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 18px;
}

div.bx-auth-reg div.bx-auth-secure-unlock {
    background-image: url(images/sec-unlocked.png);
}

.error-fld2 {
    position: absolute;
    top: 27px;
    left: 465px;
    float: right;
    height: 28px;
    padding: 3px 0 0 9px !important;
    color: #fff !important;
    width: 130px;
    background-repeat: no-repeat;
    background-image: url(images/error.png);
}

label .error.succes {
    color: green !important;
    position: relative;
}
label .error {
    position: relative;
}

.confirm_phone .wrap_md .label_block {
    width: 150px !important;
}

.confirm_phone .wrap_md .confirm_phone_btn {
    display: block;
}



#countdown {
    margin: 0px auto;
    width: auto;
    padding: 20px 20px 20px 10px;
    position: relative;
    border: #222 2px solid;
    background: #eee;
}

#countdown div {
    margin: 0px 0px 0px 10px;
    float: left;
    width: 88px;
}

#countdown div span {
    display: block;
    height: 53px;
    background: #000;
    border-bottom: #f00 1px solid;
    color: #eee;
    font-size: 24pt;
    padding-top: 4px;
    padding-left: 16px;
    letter-spacing: 31px;
    /* Последние 4 параметра отвечают за размер текста и его выравнивание на циферблате */
}

#countdown #week, #countdown #day, #countdown #hour, #countdown #minute, #countdown #second {
    display: none;
}

.clear {
    clear: both;
    float: none !important;
}

.block_phone_new {
    float: left !important;
}

.block_phone_new.show {
    display: inline-block;
}

.block_phone_new.hide {
    display: none;
}