#mobilemenu ul.cities form button {
    background-color: white;
    border: none;
    padding: 15px 0px 15px 20px;
    text-align: left;
    width: 100%;
}

.search_loader {
    display: inline-block;
    height: 21px;
    width: 100%;
    background: url(/local/templates/aspro_next/images/loaders/circle_anim.gif);
    vertical-align: middle;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-position: center;
}

#mobilemenu .expanded .dropdown .menu_title.search_loader_li {
    padding: 0;
}

#mobileheader .wrap_icon_mobile {
    display: table-cell;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    right: 18px;
    top: 33px;
}

#mobileheader .wrap_icon_mobile .top-btn {
    cursor: default;
}