.form-contacts.maxwidth-theme {
    border: 1px solid #F2F2F2;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-contacts.maxwidth-theme h4{
    margin-top: 10px;
}
.form-contacts.maxwidth-theme > .form.inline{
    padding: 20px 0px 6px;
}
@media (max-width: 1199px){
    .form-contacts.maxwidth-theme {
        border: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

}