.instagram {
    display: inline-block;
}

.instagram-list {
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.instagram-list li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 32%;
    width: -webkit-calc((100% - 4%) / 3);
    width: calc((100% - 4%) / 3);
    margin-right: 2%;
    margin-bottom: 2%;
}

.instagram-list li:nth-of-type(3n+3) {
    margin-right: 0;
}

.instagram-list li a,
.instagram-list li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.instagram-list li a img {
    max-width: 100%;
}

.instagram-list li a .instagram-info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.instagram-list li a:hover .instagram-info {
    opacity: 1;
}

.instagram-list li a .instagram-info .instagram-date {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
}

.instagram-more {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    display: block;
    font-weight: 600;
    line-height: 32px;
    margin: 60px auto 0;
    overflow: hidden;
    padding: 0 48px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.instagram-more:hover {
    color: #fff;
}

.instagram-icon {
    position: relative;
    width: 100%;
    color: #fff;
}

.instagram-icon span {
    margin-left: 25px;
    line-height: 20px;
}

.instagram-icon:before {
    position: absolute;
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.instagram-icon--likes:before {
    background-image: url(images/likes.svg);
}

.instagram-icon--comments:before {
    background-image: url(images/comments.svg);
}

.instagram .horizontal-line{
    border-top: 2px solid #fff;
    width:20px;
}