/*! normalize.css v3.0.2 */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


/* transition's 0.2s */
a, button{
    transition: all 0.2s;
}

/* Начальные установки */

body {font-family: Marmelad, Arial, sans-serif;color: #1c1c1c; font-size:16px; line-height:1.2; padding: 0; background: #fff; margin: 0 auto;}
body, nav, header, section, footer{width:100%;position:relative;}
a {color:#d01400;text-decoration:none;cursor:pointer;outline:none;}
strong{font-weight:600;}
b {font-weight:700;}
i{font-style:italic;}
h1,h2,h3,h4,h5,h6{line-height:1;margin:0 auto;font-weight:300;text-align:center;}
ul{margin:0;padding:0;list-style:none;}

input{
	height: 40px;
	width: 125px;
	border:none;
	padding-left: 15px;
	padding-right:15px;
	font-size:20px;
	color:#fff;
	font-family: Marmelad, Arial;
	text-align:center;
	outline:none;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

input[type=number]{-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}

textarea{
	height: 128px;
	width: 760px;
	border:1px solid #c1c1c1;
	padding: 15px 20px;
	font-size:16px;
	font-family: Marmelad, Arial;
	margin:0pauto;
	margin-bottom:30px;
	display:block;
	resize:none;
	outline:none;
}

button{
	border:none;
	color: #fff;
	font-family: Marmelad, Arial;
	font-size:18px;
	cursor:pointer;
	outline:none;
	margin:0 auto;
	background:#eb4e01;
	padding:6px 20px;
}

.clr{clear:both;}
.c{min-height: 100%;width:1100px;margin: 0 auto;position:relative;}

/* стили разделов сайта */


nav{
	background:#fff;
	height:120px;
}

.logo{
	margin-top:14px;
	float:left;
	vertical-align:top;
}

nav .links{
	float:left;
	margin-left:25px;
	vertical-align:top;
	width:620px;
	margin-top:25px;
}

nav .links a{
	font-size:16px;
	line-height:31px;
	color:#ea516d;
	font-family:Marmelad, Arial;
}

nav .links .separator{
	display:inline-block;
	font-size:16px;
	line-height:31px;
	color:#ea516d;
	font-family:Marmelad, Arial;
	margin:0 5px;
}

nav .links .separator.hidden{
	display:none;
}

nav .right{
	margin-top:27px;
	float:right;
	display: none;
	color: #ea516d;
    font-family: Marmelad, Arial;
}

nav .right a{
	font-size:14px;
	color:#ea516d;
	font-family:Marmelad, Arial;
}

nav .right a span{
	margin-left:5px;
	border-bottom:1px dashed #ea516d;
}

nav .right .phone{
	font-size:20px;
	margin-top:10px;
	color: #ea516d;
    font-family: Marmelad, Arial;
}





header{
	min-height:780px;
	text-align:center;
	background:url(../i/header_bg.jpg) no-repeat 50% 50%;
}

header h1{
	color:#fff;
	font-size:60px;
	line-height:70px;
	padding-top:200px;
}

header .desc{
	color:#fff;
	font-size:20px;
	line-height:30px;
	font-family:Marmelad, Arial;
	margin-top:50px;
}

.btn{
	display:inline-block;
	background:#fff;
	color:#ea516d;
	font-size:30px;
	line-height:80px;
	border-radius:40px;
	padding:0 45px;
	margin-top:60px;
}

.btn:hover{
	background:#eee;
}


#s1{
	min-height:797px;
	background:url(../i/s1_bg.png) no-repeat 50% 100%;
	text-align:center;
}

#s1 img{
	display:block;
	margin:0 auto;
	padding-top:60px;
}

#s1 .text{
	font-size:30px;
	line-height:40px;
	margin-top:50px;
	color:#131313;
}

#s1 .text span{
	color:#ff7e96;
}

#s1 .text span.big{
	font-size:140px;
	line-height:160px;
	display:block;
}


/* Sec2 */

#s2{
	min-height:878px;
	background:url(../i/s2_bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	padding-top:64px;
	box-sizing:border-box;
}

#s2 form, #s10 form{
	border:2px dotted #ffffff;
	box-sizing:border-box;
	width:782px;
	height:750px;
	margin:0px auto;
	color:#fff;
	text-align:center;
	padding:31px 60px;
	position:relative;
}

#s2 form .small, #s10 form .small{
	display:inline-block;
	border-bottom:2px solid #fff;
	font-size:16px;
	font-family:Marmelad, Arial;
}

#s2 form h2, #s10 form h2{
	font-size:60px;
	line-height:70px;
	margin-top:15px;
}

#s2 form .text, #s10 form .text{
	font-size:30px;
	line-height:40px;
	margin-top:25px;
	margin-bottom:55px;
}

#s2 form select, #s10 form select{
	background:none;
	width:100%;
	height:40px;
	border:none;
	border-bottom:2px solid #fff;
	box-sizing:border-box;
	margin-bottom:26px;
	color:#fff;
	outline:none;
	font-size:20px;
	text-align:center;
	outline:none;
}

#s2 form select option, #s10 form select option{
	background:#ff7e96;
	text-align:center;
	border:none;
}

#s2 form select option:disabled, #s10 form select option:disabled{
	color:rgba(255,255,255,0.7);
}

#s2 form input, #s10 form input{
	background:none;
	width:100%;
	border-bottom:2px solid #fff;
	box-sizing:border-box;
	margin-bottom:26px;
}

#s2 form .btn, #s10 form .btn{
	height:58px;
	line-height:58px;
	border-radius:29px;
	font-size:20px;
	padding:0 30px;
}

.phone_pane{
	display:none;
}

#phone1:focus + div, #phone2:focus + div{
	display:block;
}






#s3{
	padding-top:50px;
	padding-bottom:53px;
}

#s3 h2{
	color:#131313;
	font-size:40px;
	line-height:70px;
	margin-bottom:48px;
}

.flex{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	flex-wrap:wrap;
}

#s3 .block{
	position:relative;
	width:540px;
	height:392px;
	margin-bottom:18px;
	background-position:center;
	background-size:cover;
}

#s3 .inner{
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
	border:2px dotted white;
	box-sizing:border-box;
	text-align:center;
	color:#fff;
}

#s3 .pretitle{
	font-size:16px;
	display:inline-block;
	border-bottom:2px solid white;
	font-family:Marmelad, Arial;
	margin-top:20px;
}

#s3 .title{
	font-size:40px;
	margin-top:80px;
}

#s3 .title.long{
	margin-top:40px;
}

#s3 .title span{
	display:inline-block;
	padding:0 6px;
	position:relative;
	z-index:2;
}

#s3 .title span:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-3px;
	background:#ea516d;
	height:43px;
	width:100%;
	z-index:-1;
}

#s3 .text{
	font-size:20px;
	line-height:30px;
	margin-top:15px;
	font-family:Marmelad, Arial;
}

#s3 .btn{
	height:58px;
	line-height:58px;
	border-radius:29px;
	font-size:20px;
	padding:0 60px;
	margin-top:30px;
}


#s4{
	background:#e5e5e5;
	padding-top:60px;
	padding-bottom:110px;
	text-align:center
}

#s4 h2{
	font-size:40px;
	line-height:70px;
	color:#131313;
	text-align:center;
	margin-bottom:90px;
}

#s4 .icon, #s4 .line{
	display:block;
	margin:0 auto;
}

#s4 .line{
	margin-top:10px;
	margin-bottom:10px;
}

#s4 .title{
	font-size:20px;
	line-height:30px;
	color:#ea516d;
	margin-top:10px;
}

#s4 .text{
	font-size:16px;
	line-height:26px;
	color:#131313;
}





#s5{
	padding-top:70px;
	padding-bottom:81px;
}

#s5 .block{
	background:#ff7e96;
	height:241px;
}

#s5 .block .inner{
	padding:0 42px;
	color:#fff;
	width:50%;
	height:100%;
	box-sizing:border-box;
	float:left;
	position:relative;
}

#s5 .block .inner:after{
	content:'';
	display:block;
	width:14px;
	height:28px;
	background:url(../i/hvost.png);
	position:absolute;
	top:48px;
	right:-14px;
}

#s5 .block.right .inner:after{
	background:url(../i/hvost_reverse.png);
	right:auto;
	left:-14px;
}

#s5 img{
	float:right;
	width:50%;
	height:100%;
}

#s5 .block.right img{
	float:left;
}

#s5 .title{
	margin-top:43px;
	font-size:30px;
	line-height:40px;
}

#s5 .text{
	font-family:Marmelad, Arial;
	font-size:20px;
	line-height:30px;
	margin-top:10px;
}



#s6{
	min-height:870px;
	background:url(../i/s6_bg.jpg) no-repeat 50% 50%;
}

#s6 h2{
	color:#fff;
	font-size:60px;
	line-height:54px;
	padding-top:68px;
}

#s6 h2 div{
	font-size:40px;
	line-height:36px;
}

#s6 .menu{
	margin-top:43px;
	align-items:stretch;
}

#s6 .menu a{
	display:block;
	box-sizing:border-box;
	border:1px dotted white;
	border-right:none;
	border-bottom:none;
	height:65px;
	line-height:64px;
	text-align:center;
	color:white;
	font-size:20px;
	font-family:Marmelad, Arial;
	width:calc(100% / 6);
}

#s6 .menu a:hover{
	background:rgba(255,255,255,0.5);
}

#s6 .menu a:last-child{
	border-right:1px dotted white;
}

#s6 .menu a.active{
	border:none;
	background:rgba(255,255,255,0.8);
	color:#ff7e96;
}

#s6 .slider{
	background:rgba(255,255,255,0.8);
	text-align:center;
	color:#191919;
	height:526px;
}

#s6 .slider h3{
	font-size:40px;
	margin-top:57px;
}

#s6 .slider .text{
	font-size:20px;
	line-height:30px;
	font-family:Marmelad, Arial;
	padding:0 80px;
	margin-top:48px;
	height:210px;
	overflow:auto;
}

#s6 .slider .btn{
	background:#ff7e96;
	color:#fff;
	font-size:20px;
	line-height:58px;
	height:58px;
	border-radius:29px;
	margin-top:50px;
	padding:0 60px;
	box-shadow:1px 1px 5px rgba(0,0,0,0.4);
}

#s6 .slider .btn:hover{
	background:#e5667e;
}

.bx-wrapper .bx-controls-direction a{
	width:26px;
	height:50px;
	margin-top:-25px;
}

.bx-wrapper .bx-prev{
	left:-45px;
}

.bx-wrapper .bx-next{
	right:-45px;
}



#s7{
	padding-top:70px;
	padding-bottom:86px;
	background:#ea516d;
	color:#fff;
	text-align:center;
}

#s7 h2{
	font-size:40px;
	line-height:70px;
	margin-bottom:80px;
}

#s7 .flex{
	align-items:flex-start;
}

#s7 .block .title{
	font-size:80px;
}

#s7 .block .text{
	font-size:20px;
	line-height:30px;
	margin-top:10px;
}


#s8{
	padding-top:70px;
	padding-bottom:40px;
}

#s8 h2{
	font-size:60px;
}

#s8 .inner{
	min-height:545px;
	box-shadow:0 20px 50px rgba(0,0,0,0.15);
	margin-top:40px;
	box-sizing:border-box;
	padding:20px 48px;
}

#s8 .opener:nth-child(3){
	display: none;
}

#s8 .opener{
	height:63px;
	background:#ff7e96;
	padding:0 24px;
	margin-top:21px;
	color:#fff;
	font-size:28px;
	line-height:63px;
	cursor:pointer;
}

#s8 .opener .right{
	float:right;
	font-size:14px;
	font-family:Marmelad, Arial;
}

#s8 .opener .right:after{
	content:' ';
	display:inline-block;
	float:right;
	margin-left:10px;
	height:63px;
	width:9px;
	background: url(../i/opener.png);
}

#s8 .opener.opened .right:after{
	background: url(../i/opener_reverse.png);
}

#s8 .opening_window{
	height:0;
	overflow:hidden;
}

#s8 .opening_window a{
	display:block;
	color:#ff7e96;
	font-size:26px;
	margin-top:20px;
	padding-left:24px;
}

#s8 .opening_window a:hover{
	color:#d5566e;
}

#s8 .info{
	margin-top:30px;
}

.course_no_info{
	text-align:center;
	font-size:24px;
}

#s8 .block{
	float:left;
	font-size:20px;
	color:#1e1e1e;
}

#s8 .block2{
	margin-left:70px;
}

#s8 .block3{
	float:right;
}

#s8 .date{
	background:#8f77aa;
	width:190px;
	height:130px;
	text-align:center;
	color:#fff;
	font-size:60px;
	box-sizing:border-box;
	position:relative;
	margin-top:15px;
	padding-top:10px;
}

#s8 .date div{
	font-family:Marmelad, Arial;
	font-size:12px;
	margin-top:15px;
}

#s8 .date:after{
	content:"";
	display:block;
	height:2px;
	background:#a58ac5;
	position:absolute;
	top:82px;
	left:11px;
	right:11px;
}

#s8 .time{
	margin-top:15px;
}

#s8 .digit{
	width:80px;
	height:128px;
	background:url(../i/digit.png);
	float:left;
	margin-right:2px;
	font-size:100px;
	line-height:128px;
	color:#1e1e1e;
	text-align:center;
	position:relative;
}

#s8 .digit.dots{
	line-height:100px;
}

#s8 .digit:after{
	content:"";
	background:#fff;
	height:2px;
	position:absolute;
	top:63px;
	left:3px;
	right:3px;
}

#s8 .days{
	margin-top:15px;
	width:288px;
}

#s8 .days select{
	outline:none;
	padding:0 20px;
	height:50px;
	border:2px solid #ff7e96;
}

#s8 .day{
	color:#fff;
	font-size:30px;
	line-height:63px;
	height:63px;
	width:70px;
	float:left;
	margin-left:2px;
	margin-bottom:2px;
	text-align:center;
	background:#e0e0e0;
}

#s8 .day.active{
	background:#ff7e96;
}

#s8 .inner .btn{
	font-size:20px;
	line-height:58px;
	height:58px;
	border-radius:29px;
	background:#ff7e96;
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
	color:#fff;
	display:block;
	width:222px;
	padding:0;
	margin:0 auto;
	margin-top:50px;
	text-align:center;
}

#s8 .inner .btn:hover{
	background:#d5566e;
}

.s8_end{
	background:#ff7e96;
	color:#fff;
	text-align:center;
	box-shadow:0 20px 50px rgba(0,0,0,0.15);
	margin-top:25px;
	box-sizing:border-box;
	padding:40px 0 63px 0;
}

.s8_end h3{
	font-size:40px;
}

.s8_end .text{
	font-size:20px;
	margin-top:40px;
}

.s8_end .btn{
	line-height:58px;
	line-height:58px;
	border-radius:29px;
	font-size:20px;
	background:#fff url(../i/icon_phone.png) no-repeat 6px center;
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
	padding-left:63px;
	padding-right:30px;
	margin-top:45px;
}

.s8_end .btn:hover{
	background-color:#eee;
}







#s9{
	background:url(../i/s9_bg.jpg) no-repeat 50% 50%;
	min-height:799px;
}

#s9 h2{
	color:#fff;
	font-size:60px;
	padding-top:60px;
	margin-bottom:65px;
}

.review{
	background:#fff;
	height:235px;
	margin-bottom:23px;
	overflow: hidden;
	transition: all ease-in-out 0.2s;
}

.show-review{
	overflow: visible;
	height: auto;
	position: absolute;
	z-index: 9999;
	padding-bottom: 300px;
	top: 0;
	transition: all ease-in-out 0.2s;
}

.review img{
	float:left;
	height:100%;
	max-width: 235px;
	max-height: 235px;
}

.review .inner{
	position:relative;
	margin-left:270px;
	padding-top:40px;
	padding-right:30px;
	color:#1e1e1e;
}

.review .inner.big{
	margin-left:430px;
}

.review a{
	position:absolute;
	top:50px;
	right:30px;
	font-size:14px;
	font-family:Marmelad, Arial;
	color:#ff7e96;
	border-bottom:1px dashed #ff7e96;
}

.review a:hover{
	color:#e25d76;
	border-bottom-color:#e25d76;
}

.review h3{
	font-size:30px;
	text-align:left;
}

.review .work{
	font-size:20px;
	color:#737373;
	font-family:Marmelad, Arial;
	margin-top:10px;
}

.review .text{
	font-size:20px;
	line-height:30px;
	font-family:Marmelad, Arial;
	margin-top:35px;
}

.bx-wrapper .bx-pager{
	bottom:-43px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	height:14px;
	width:14px;
	border-radius:50%;
	background:transparent;
	box-sizing:border-box;
	border:3px solid #ff7e96;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background:#ff7e96;
}

#s10{
	min-height:878px;
	background:url(../i/s10_bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	box-sizing:border-box;
	padding-top:60px;
}

#s10 .holder{
	background:rgba(237, 98, 123, 0.8);
	width:791px;
	box-sizing:border-box;
	padding:4px 0;
	margin:0 auto;
}

#s10 form .btn{
	margin-top:20px;
}

footer{
	background:#ea516d;
	height:120px;
	color:#fff;
}

footer .footer_logo{
	float:left;
	vertical-align:top;
	margin-top:20px;
}

footer .left{
	float:left;
	font-size:14px;
	line-height:24px;
	font-family:Marmelad, Arial;
	vertical-align:top;
	margin-top:25px;
	margin-left:40px;
}

footer .right{
	float:right;
	margin-top:30px;
}

footer .right a{
	color:#fff;
	font-size:14px;
}

footer .right a span{
	border-bottom:1px dashed white;
	display:inline-block;
	margin-left:10px;
	vertical-align:top;
}

footer .right .phone{
	font-size:20px;
	margin-top:7px;
}

footer .center{
	text-align:center;
	padding-top:40px;
	margin:0 200px;
}

footer .center a{
	font-size:16px;
	color:#fff;
}

footer .center img{
	display:block;
	margin:0 auto;
	margin-bottom:20px;
}

.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	display:none;
	z-index:9998;
	cursor:pointer;
}

.popup{
	position:fixed;
	top:50%;
	left:50%;
	background:#ff7e96;
	color:#fff;
	font-size:20px;
	line-height:30px;
	text-align:center;
	box-sizing:border-box;
	padding:50px;
	border-radius:30px;
	display:none;
	z-index:9999;
}

.close{
	position:absolute;
	top:20px;
	right:20px;
	background:#fff url(../i/close.png) no-repeat center center;
	width:50px;
	height:50px;
	border-radius:50%;
	cursor:pointer;
}

.close:hover{
	background-color:#eee;
}

.popup h3{
	font-size:40px;
	margin-bottom:50px;
}

.popup .btn{
	height:58px;
	line-height:58px;
	border-radius:29px;
	font-size:20px;
	margin-top:50px;
}

.popup form{
	max-width:400px;
	margin:0 auto;
}

.popup input{
	background:none;
	width:100%;
	border-bottom:2px solid #fff;
	box-sizing:border-box;
}

.popup.callback{
	width:700px;
	height:350px;
	margin:-175px 0 0 -350px;
}

.popup.thanks{
	width:700px;
	height:250px;
	margin:-125px 0 0 -350px;
}

.popup.thanks a{
	color:#fff;
	text-decoration:underline;
}

.popup.cities{
	width:700px;
	height:700px;
	margin:-350px 0 0 -350px;
}

.popup.cities .inner{
	overflow:auto;
	width:300px;
	max-height:500px;
	margin:0 auto;
}

.popup.cities .inner a{
	color:#fff;
	display:block;
}






/* Mobile */

nav .menu{
	display:none;
}

.mobile_logo{
	display:none;
}

@media(max-width:1100px){
	.c{
		width:100%;
		padding:0 20px;
		box-sizing:border-box;
	}
	
	nav{
		height:100px;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		z-index:1000;
	}
	
	nav .menu{
		display:block;
		float:left;
		line-height:100px;
		color:#ea516d;
		font-family:Marmelad, Arial;
		font-size:16px;
		font-weight:500;
		padding-left:60px;
		background:url(../i/hamburger.png) no-repeat 20px center;
	}
	
	nav .links{
		margin:0;
		float:none;
		position:absolute;
		left:0;
		top:100px;
		background:#fff;
		height:100vh;
		width:0px;
		overflow:hidden;
		box-sizing:border-box;
		transition:width 0.2s;
	}
	
	nav .links.opened{
		padding:20px 40px;
		width:320px;
	}
	
	nav .links a{
		display:block;
		margin-bottom:10px;
	}
	
	nav .links .separator, nav .links br{
		display:none;
	}
	
	.logo{
		margin:0;
		position:absolute;
		top:50%;
		left:50%;
		margin:-27px 0 0 -44px;
		height:54px;
	}
	
	nav .right{
		margin-right:20px;
	}
	
	header{
		background-size:cover;
	}
	
	#s1{
		padding-bottom:80px;
	}
	
	#s1 .text span.big{
		font-size:80px;
	}
	
	#s2{
		padding-bottom:100px;
		background-size:cover;
	}
	
	#s2 form .text br, #s10 form .text br{
		display:none;
	}
	
	#s3 .flex{
		display:block;
	}
	
	#s3 .block{
		margin-left:auto;
		margin-right:auto;
	}
	
	#s4 .flex{
		display:block;
	}
	
	#s5 .c{
		padding:0;
	}
	
	#s5 .block .inner{
		padding:0 20px;
	}
	
	#s5 .title{
		font-size:26px;
		line-height:36px;
		margin-top:20px;
	}
	
	#s5 .text{
		font-size:20px;
		line-height:30px;
	}
	
	#s5 .title br, #s5 .text br{
		display:none;
	}
	
	#s6{
		padding-bottom:80px;
		background-size:cover;
	}
	
	#s6 .slider .bx-controls{
		display:none;
	}
	
	#s7 .block{
		width:30%;
	}
	
	#s7 .block .title{
		font-size:60px;
	}
	
	#s7 .block .text br{
		display:none;
	}
	
	#s8 .block, #s8 .block3{
		float:none;
		text-align:center;
		margin-bottom:30px;
	}
	
	#s8 .block2{
		margin-left:0;
	}
	
	#s8 .date, #s8 .time, #s8 .days{
		margin-left:auto;
		margin-right:auto;
	}
	
	#s8 .time{
		width:410px;
	}
	
	#s10 .holder{
		width:100%;
	}
	
	#s2 form, #s10 form{
		width:auto;
		margin-left:4px;
		margin-right:4px;
		height:auto;
	}
	
	#s9{
		background-size:cover;
		padding-bottom:100px;
	}

	.review{
		height:auto;
		background:transparent;
		text-align:center;
		margin-bottom:50px;
		max-height: 360px;
	}
	
	.review img{
		float:none;
		display:block;
		margin:0 auto;
		width:110px;
		height:110px;
		border-radius:50%;
		position:relative;
		z-index:2;
	}
	
	.review .inner{
		margin:0 auto;
		padding:65px 15px;
		padding-top:80px;
		background:#fff;
		margin-top:-55px;
		position:relative;
	}
	
	.review .inner.big{
		margin-left:0;
	}
	
	.review h3{
		text-align:center;
	}
	
	.review a{
		display:block;
	}
	
	#s10{
		background-size:cover;
	}
	
	#s2 form .btn, #s10 form .btn{
		margin-top:40px;
	}
}

@media(max-width:767px){
	.c{
		padding:0 15px;
	}
	
	.logo, nav .menu span{
		display:none;
	}
	
	nav{
		height:55px;
		line-height:55px;
	}
	
	nav .menu{
		height:55px;
		padding-left:35px;
		background-position:0px 50%;
		background-size:50%;
	}
	
	nav .right{
		margin:0;
	}
	
	nav .right .phone{
		font-size:16px;
		line-height:16px;
		margin:0;
		margin-top:30px;
	}

	.review{
		max-height: 345px;
	}
	
	.mobile_logo{
		display:block;
		margin:0 auto;
		padding-top:105px;
	}
	
	nav .links{
		top:55px;
	}
	
	header{
		min-height:0;
		padding-bottom:80px;
	}
	
	header h1{
		font-size:30px;
		line-height:40px;
		padding-top:15px;
	}
	
	header .desc{
		font-size:16px;
		line-height:20px;
		margin-top:20px;
	}
	
	.btn{
		margin-top:30px;
		font-size:16px;
		line-height:40px;
		height:40px;
		border-radius:20px;
		padding:0 30px;
	}
	
	#s1{
		min-height:0;
	}
	
	#s1 img{
		width:290px;
	}
	
	#s1 .text{
		font-size:14px;
		line-height:20px;
	}
	
	#s1 .text span.big{
		font-size:70px;
		line-height:80px;
	}
	
	#s2{
		min-height:0;
	}
	
	#s2 form, #s10 form{
		border:none;
	}
	
	#s2 form h2, #s10 form h2{
		font-size:30px;
		line-height:1;
	}
	
	#s2 form .text, #s10 form .text{
		font-size:14px;
		line-height:16px;
		margin-top:20px;
		margin-bottom:20px;
	}
	
	input{
		font-size:16px;
	}
	
	#s2 form input, #s10 form input{
		margin-bottom:15px;
	}
	
	#s3{
		padding-bottom:0;
	}
	
	#s3 .c{
		padding:0;
	}
	
	#s3 .inner{
		border:none;
		position:static;
	}
	
	#s3 .block{
		width:100%;
		height:auto;
		padding:0 20px;
		padding-bottom:40px;
		box-sizing:border-box;
		background-size:cover;
	}
	
	#s3 .block:last-child{
		margin-bottom:0;
	}
	
	#s3 .title{
		margin-top:20px;
	}
	
	#s3 .text{
		margin-top:25px;
	}
	
	#s3 .text br{
		display:none;
	}
	
	#s4 h2{
		margin-bottom:30px;
		font-size:30px;
		line-height:40px;
	}
	
	#s5{
		padding:0;
	}
	
	#s5 .block{
		height:auto;
		padding-bottom:40px;
	}
	
	#s5 img, #s5 .block.right img, #s5 .block .inner, #s5 .block.right .inner{
		float:none;
		display:block;
		width:100%;
		height:auto;
	}
	
	#s5 .block .inner:after, #s5 .block.right .inner:after{
		top:-34px;
		right:50%;
		margin-right:-14px;
		background:url(../i/hvost_up.png);
		width:28px;
		height:14px;
	}
	
	#s5 .block.right .inner:after{
		left:auto;
	}
	
	#s6 h2{
		font-size:20px;
		line-height:1;
	}
	
	#s6 h2 div{
		font-size:30px;
	}
	
	#s6 .menu{
		flex-direction:column;
		height:195px;
	}
	
	#s6 .menu a{
		width:50%;
		border-right:1px dotted white;
	}
	
	#s6 .menu a:nth-of-type(1), #s6 .menu a:nth-of-type(2), #s6 .menu a:nth-of-type(3){
		border-right:none;
	}
	
	#s6 .slider{
		height:auto;
		padding-bottom:20px;
	}
	
	#s6 .slider h3{
		font-size:20px;
		padding:0 10px;
	}
	
	#s6 .slider .text{
		padding:0 10px;
		font-size:14px;
		line-height:20px;
	}
	
	#s7{
		padding-bottom:20px;
	}
	
	#s7 h2{
		font-size:30px;
		line-height:1;
		margin-bottom:50px;
	}
	
	#s7 .flex{
		display:block;
	}
	
	#s7 .block{
		width:100%;
		margin-bottom:50px;
	}
	
	#s8 h2{
		font-size:30px;
		line-height:1;
	}
	
	#s8 .inner{
		box-shadow:none;
		padding:0;
		padding-bottom:50px;
	}
	
	#s8 .opener{
		font-size:16px;
		line-height:50px;
		height:50px;
		padding:0 10px;
	}
	
	#s8 .opener .right span{
		display:none;
	}
	
	#s8 .opener .right:after{
		height:50px;
		background-position:50%;
	}
	
	#s8 .opening_window a{
		padding-left:10px;
		font-size:16px;
		margin-top:10px;
	}
	
	.s8_end h3{
		font-size:30px;
		line-height:1;
	}
	
	.s8_end .btn{
		background-size:23px 23px;
		line-height:40px;
		padding-left:40px;
		padding-right:20px;
	}
	
	#s9 h2{
		font-size:40px;
	}
	
	.review .text{
		font-size:16px;
		line-height:26px;
	}
	
	#s10{
		min-height:0;
		padding-bottom:50px;
	}
	
	footer{
		height:auto;
		padding-bottom:20px;
		text-align:center;
	}
	
	footer .right{
		display:none;
	}
	
	footer .footer_logo, footer .left{
		float:none;
		margin-left:0;
	}
	
	footer .left{
		margin-top:40px;
	}
	
	footer .center{
		margin:0 auto;
	}
	
	.popup h3{
		margin-bottom:30px;
		font-size:30px;
	}
	
	.popup.callback{
		width:auto;
		margin:0;
		left:20px;
		right:20px;
		top:20px;
		bottom:20px;
		overflow:auto;
	}
	
	.popup.thanks{
		width:auto;
		height:auto;
		margin:0;
		left:20px;
		right:20px;
		top:20px;
		overflow:auto;
		font-size:16px;
		line-height:1.2;
	}
	
	.popup.cities{
		width:auto;
		height:auto;
		margin:0;
		left:20px;
		right:20px;
		top:20px;
		bottom:20px;
		overflow:auto;
	}
	
	.popup.cities .inner{
		height:auto;
		width:100%;
		overflow:visible;
	}
}

@media(max-width:470px){
	#s2 form, #s10 form{
		padding-left:20px;
		padding-right:20px;
	}
	
	#s2 form .btn, #s10 form .btn{
		font-size:16px;
		line-height:50px;
		height:50px;
		border-radius:25px;
	}
	
	#s3 .title{
		font-size:30px;
		line-height:1;
	}
	
	#s3 .title span:after{
		display:none;
	}
	
	#s8 .time{
		width:100%;
	}
	
	#s8 .digit{
		height:auto;
		width:calc(20% - 2px);
		font-size:70px;
		line-height:80px;
		height:80px;
		background-size:contain;
	}
	
	#s8 .digit.dots{
		line-height:63px;
	}
	
	#s8 .digit:after{
		display:none;
	}
	
	.close{
		width:36px;
		height:36px;
		background-size:16px 16px;
	}
	
	.popup h3{
		font-size:20px;
	}
	
	.popup.callback{
		height:auto;
		padding-left:20px;
		padding-right:20px;
		padding-top:70px;
		bottom:auto;
	}
	
	.popup .btn{
		height:50px;
		line-height:50px;
		font-size:16px;
	}
}


/* Админка */

.admin{
	padding-bottom:100px;
}

.admin h1, .admin h2, .admin h3{
	margin-top:30px;
	margin-bottom:30px;
}

.admin .green{
	color:green;
}

.admin .sorting_link{
	display:block;
}

.admin table{
	width:100%;
}

.admin table td{
	width:14%;
	box-sizing:border-box;
	padding:5px 10px;
	text-align:left;
	word-wrap:break-word;
}


.admin_tooltip{
	background:#efb0fd;
	border-radius:25px;
	padding:20px 50px;
	font-size:18px;
	max-width:600px;
	margin:0 auto;
}

.admin_tooltip .center{
	text-align:center;
}

.admin_tooltip a{
	color:blue;
}

.admin input::-webkit-input-placeholder {
   color: #333;
}

.admin input:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

.admin input::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

.admin input:-ms-input-placeholder {  
   color: #333;  
}

.admin_add{
	text-align:center;
}

.admin_add h3{
	margin-bottom:20px;
	font-size:30px;
}

.admin_add .label{
	font-weight:500;
	font-size:20px;
}

.admin_add input, .admin_add select{
	border:1px solid #333;
	width:400px;
	text-align:left;
	margin-bottom:10px;
	margin-top:10px;
	color:#000;
	box-sizing:border-box;
	font-size:16px;
}

.admin_add select{
	height:40px;
	padding:0 20px;
}

.admin_add a{
	display:inline-block;
	margin-top:20px;
	color:blue;
	font-size:20px;
}

.admin_list{
	width:600px;
	margin:0 auto;
	font-size:18px;
}

.admin_list table{
	width:100%;
	
}














