.top-slider .item img {
    width: 100%;
    height: auto;
}
@media (max-width: 768px){
    .top-slider {
        width: 140% !important;
        left: -20%;
    }
    .middle {
        overflow: hidden;
    }

}