<style>
    section {
    background-color:    rgb(247, 56, 89)    ;
    box-sizing:    border-box    ;
    color:    rgb(151, 154, 167)    ;
    display:    block    ;
    font-family:    "Open Sans", Helvetica, Arial, sans-serif    ;
    font-size:    16px    ;
    font-weight:    400    ;
    height:    332px    ;
    line-height:    28.8001px    ;
    padding-bottom:    80.0001px    ;
    padding-top:    80.0001px    ;
    position:    relative    ;
    text-align:    center    ;
    text-rendering:    optimizeLegibility    ;
    text-size-adjust:    100%    ;
    width:    1973px    ;
    -webkit-font-smoothing:    antialiased    ;
    -webkit-tap-highlight-color:    rgba(0, 0, 0, 0)    ;
    }
    input {
        border-color: #ff2722;
        box-shadow: none;
        color: #444349;
        outline: none;
        height: 40px;
        background: #fff;
        font-size: 14px;
        box-shadow: none;
        line-height: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #dbdbdb;
        text-transform: none;
        box-sizing: border-box;
    }
</style>

<section class="g-pos-rel landing-block text-center g-pt-80 g-pb-80 g-bg-primary">

    <div class="container">

        <div class="landing-block-form-styles" hidden="">
            <div class="g-bg-transparent h1 g-color-white g-brd-none g-pa-0" data-form-style-wrapper-padding="1" data-form-style-bg="1" data-form-style-bg-content="1" data-form-style-bg-block="1" data-form-style-header-font-size="1" data-form-style-main-font-weight="1" data-form-style-border-block="1">
            </div>

            <div class="g-bg-white g-color-primary g-brd-primary" data-form-style-main-bg="1" data-form-style-main-border-color="1" data-form-style-main-font-color-hover="1">
            </div>
            <div class="g-bg-primary-dark-v2 u-theme-restaurant-shadow-v1 g-brd-around g-color-gray-dark-v2 rounded-0" data-form-style-input-bg="1" data-form-style-input-box-shadow="1" data-form-style-input-select-bg="1" data-form-style-input-border="1" data-form-style-input-border-radius="1" data-form-style-button-font-color="1">
            </div>
            <div class="g-brd-around g-brd-gray-light-v2 g-brd-bottom g-bg-black-opacity-0_7" data-form-style-input-border-color="1" data-form-style-input-border-hover="1">
            </div>

            <p class="g-color-white-opacity-0_7" data-form-style-second-font-color="1" data-form-style-main-font-family="1" data-form-style-main-font-weight="1" data-form-style-header-text-font-size="1">
            </p>

            <h3 class="g-font-size-11 g-color-white" data-form-style-label-font-weight="1" data-form-style-label-font-size="1" data-form-style-main-font-color="1">
            </h3>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form name="GetCont">
                    <input type="text" placeholder="FIO"><br><br>
                    <input type="tel" placeholder="ТЕЛ"><br>
                    <input type="radio" name="ticket" id="basicRb">
                    <label for="basicRb" class="landing-block-node-text-block-title h6 g-font-weight-600 text-uppercase g-mb-10 g-color-black-opacity-0_9">Стандартный пакет – 5000 руб.</label><br>
                    <input type="radio" name="ticket" id="vipRb">
                    <label for="vipRb" class="landing-block-node-text-block-title h6 g-font-weight-600 text-uppercase g-mb-10 g-color-black-opacity-0_9">Стандартный пакет – 8000 руб.</label><br>
                    <div class="container">
                        <a class="landing-block-node-button btn btn-lg text-uppercase g-font-weight-700 g-color-white--hover g-bg-primary--hover g-brd-none g-py-18 g-color-primary u-btn-white g-brd-0 g-font-size-60 rounded-0" href="#" target="_self">Я пойду!</a>                    </div>
                </form>
            </div>
        </div>
    </div>
</section>