
/*comments
------------------------------*/
.comments-block {
	width:100%;
	margin:30px 0;
}
.comments-block .comments-block-title {
	font-size:24px;
	color:#444;
}
.comments-block .comment-item .user-icon img{
	max-height:30px;
	max-width:30px;
	border-radius:5px;
	float: left;
}
.comments-block .comment-item .comment-item-top {
	float: left;
	margin: 5px 0 5px 10px;
}
.comments-block .comment-item .comment-item-top>span {
	color: #ea516d;
	font-weight:700;
}
.comments-block .comment-item .comment-item-top>.no-authorize {
	color: #666;
}
.comments-block .comment-item .comment-item-controls {
	float:right;
}
.comments-block .comment-item .comment-item-controls .green {
	color: rgb(21, 153, 21);
}
.comments-block .comment-item .comment-item-controls span {
	padding-right:5px;
}
.comments-block .comment-item .comment-item-controls .admin-control {
	/*display:none;/*inline-block;*/
	margin-left:5px;
}
.comments-block .comment-item .comment-item-reply-link {
	float: right;
	border-bottom: 1px dashed;
	text-decoration: none;
}
.comment-reply #leave-comment-link {
	border-bottom: 1px dashed;
	text-decoration: none;
}
.comment-item-content .modify-link{
	border-bottom: 1px dashed;
	text-decoration: none;
}
.comments-block .btn-default {
	margin-top:20px;
}
.comments-block .comment_submit:active {
	background: #BD1836;
}
.comments-block .comment_submit:hover {
	background: #FF5776;
	color: white;
}
.comments-block .comment_submit:focus{
	outline: none;
}
.comments-block br.clear {
	clear:both;
}
.comments-block .divider {
	border-bottom:1px solid #eee;
	margin:15px 0;
}
.comments-block .comment-hidden-content{
	display: none;
}
textarea {
	width: 100%;
}
span.modify-info {
	color: grey;
	font-size: 10px;
}
#new-comment-form {
	padding:15px 0 0 0;
}
