/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*body {
  padding-bottom: 40px;
  color: #5a5a5a;
}*/



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-caption .color{
	background-color:#FF002F;
	border-color:#FF002F;
	text-decoration:none;
}
.carousel-caption a.color:hover {
	background-color:#FF254D;
}

/* Declare heights because of positioning of img element */
.carousel .item {
 /* height: 600px;*/
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
/*max-height: 500px;*/
}
.carousel .carousel-control.left, .carousel .carousel-control.right {
  background:none;
}

.carousel .carousel-indicators li{
  border-color:#999;
}
.carousel .carousel-indicators .active{
  background-color:#999;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 992px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}