
/*CATALOG
=================================*/
.catalog-left-divider {
	padding:0;
	border-left:1px solid #eee;
}
.catalog {
    padding: 10px 20px 0 20px;
	border:none;
}
.catalog .catalog-top {
	background-color: #ea516d;
	margin:  0 -20px;
	padding: 20px;
	background: -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -moz-linear-gradient(left, #F88591 0%, #ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#F88591), color-stop(100%,#ea516d));
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -webkit-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -o-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -ms-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, linear-gradient(to right, #F88591 0%,#ea516d 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F88591', endColorstr='#ea516d',GradientType=1 );
}
.catalog .catalog-top h1 {
	text-align: right;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
	margin:0;
}

.catalog .section {
 /*   border-bottom: 1px solid #eee;*/
    margin-bottom: 15px;
    margin-top   : 20px;
}
.catalog .section .section-heading {
	border-bottom: 1px solid #eee;
}
.catalog .section .section-heading .custom-size {
	font-size: 1.5em;
}
.catalog .section .section-heading h2, .catalog .section .section-heading  h3 {
	display:inline-block;
	margin-bottom: 5px;
}
.catalog .section .section-heading h2{
	margin-right:5px;
	font-size:24px;
}
.catalog .section .section-heading h3{
	color: #888;
	font-size:18px;
}	
.catalog .section .section-items {
	margin:20px -6px;
}			
.item-container {
    width     :auto;
/*  text-align    : left;
    vertical-align: top;*/
}
.item-container {
    -moz-box-sizing   : border-box;
    -moz-transition   : border-color ease-out 0.2s;
    -o-box-sizing     : border-box;
    -o-transition     : border-color ease-out 0.2s;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color ease-out 0.2s;
    border            : 1px solid white/*#eee*/;
    box-sizing        : border-box;
    display           : inline-block;
    background-color: white;
    transition        : border-color ease-out 0.2s;
    padding:10px;
    margin:0 5px 15px 5px;
    border-radius:1px;
}
.item-container:hover {
	border-color: #eee;
}
.item-container a {
	text-decoration:none;
}
/*.item-container a:hover {
	color:#ea516d;
}*/
.item-container img{
    max-width:170px;
}
.item-name-container {
    margin-top: 10px;
}
.item-price-container {
    margin-top: 2px;
    color:#444;
}
.item-price {
    font-weight: bold;
    margin-right:5px;
}
.tags-container {
	margin-top: 15px;
	padding:0 15px;
}
.tags-container .tag-section {
	margin-bottom:5px;
}
.tags-container .tag-section span {
	font-weight: 700;
}
.tags-container .tag-section a {
	margin: 0 10px 0 0;
}
.tags-container .tag-section a.btn-pressed {
	padding:0 5px;
	border-style:solid;
}
.tags-container a {
	display:inline-block;
	border-bottom: 1px dashed;
	text-decoration: none;
}
#calendar {
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top:20px;
	width:100%;
}
#calendar .fc-toolbar h2 {
	font-size: 20px;
	font-weight:bold;
}
#calendar .fc-widget-header {
	background-color:white;
}
#calendar .fc-day-grid-event>.fc-content {
	white-space: normal;
}
#calendar .amount {
	float:left;
	padding: 0px 3px;
	margin-top: 2px;
	color: #666;
	background-color: white;
	border-radius: 3px;
}
#calendar .level {
	float:right;
	padding: 0px 3px;
	margin-top: 2px;
	color: #666;
	background-color: white;
	border-radius: 3px;
}
#calendar .fc-title {
	font-weight:bold;
	font-size: 14px;
}
#calendar .course-info {
	font-size: 10px;
}
.teacher-container {
	width: 33%;
	display:inline-block;
	text-align:center;
	padding:20px 10px;
}
.teacher-container .teacher-image-container img{
	width:90%;
	height:90%;
	border-radius:50%;
	margin-bottom:15px;
}
.teacher-container .teacher-name-container {
	font-size:16px;
	font-weight:700;
}

/* responsive css*/
@media screen and (max-width:1200px) {
	.teacher-container {
		width: 49%;
	}
}