.detail-text-container{
	margin-top: 10px;
}
.news-detail-container{
  	margin: 0 15px 15px 15px;
}
.detail-img-container{
  	margin: 15px 0px 15px 0px;
}
.detail-date{
  	font-size: 13px;
  	color: rgb(136, 114, 135);
}
.detail-name{
  	font-size: 18px;
}
.news-detail-row{
	margin-bottom: 40px;
}
.h1-top {
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#EE7783), color-stop(100%,#ea516d));
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -o-linear-gradient(left, #EE7783 0%,#ea516d 100%);
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, linear-gradient(to right, #EE7783 0%,#ea516d 100%);
    background-color: #ea516d;
    filter          :progid          : DXImageTransform.Microsoft.gradient( startColorstr='#EE7783', endColorstr='#ea516d',GradientType=1 );
    padding         : 20px;
}
 h1.detail-name {
   font-size:30px;
   margin-top:0px;
   margin-bottom:20px;
}