.news-section-item-img-container {
    float    : left;
    max-width: 70px;
}
.news-section-item {
    overflow: hidden;
}
.news-section-item-txt-container {
    overflow: hidden;
}
.news-section-container {
    padding: 0 20px;
}
.news-section-item-img-container {
    margin-right: 7px;
}
.news-section-item {
    margin-bottom : 15px;
    padding-bottom: 10px;
}
.news-section-item-date {
    color    : rgb(136, 114, 135);
    font-size: 12px;
}
.news-section-container a {
    text-decoration: none;
}
.news-section-row {
    margin-top: 5px;
    margin-bottom: 50px;
}
.h1-top {
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#F88091), color-stop(100%,#ea516d));
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -o-linear-gradient(left, #F88591 0%,#ea516d 100%);
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, linear-gradient(to right, #F88591 0%,#ea516d 100%);
    background-color: #ea516d;
    filter          :progid          : DXImageTransform.Microsoft.gradient( startColorstr='#F88591', endColorstr='#ea516d',GradientType=1 );
    padding         : 20px;
    margin-top:10px;
}
.h1-top h1 {
    color      : white;
    margin     : 0;
    text-align : right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.news-section-nav-row .pick-section-button {
	margin-right: 15px;
}

.news-section-nav-row .pick-section-button.active {
	background: #F88591;
	color: white;
	border: 1px solid #ea516d;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-size: 13px;
	padding: 5px 14px;
	text-decoration: none;
}
.news-section-nav-row{
	margin: 25px 0;
}
.pagination {
	margin-left:15px;
}
.pagination>.page{
	margin:0 10px;
	font-size:16px;
	text-decoration:none;
}
.pagination>.current-page {
	display:inline-block;
	margin:0 5px;
	padding:0 5px;
	font-size:16px;
	color:#444;
	border-bottom: 2px solid #ea516d;
}