.news-item-img-container {
    float    : left;
    max-width: 70px;
}
.news-item {
    overflow: hidden;
}
.news-item-txt-container {
    overflow: hidden;
}
.news-container {
    padding: 0 20px;
}
.all-news-container {
    margin-left: 5px;
}
.news-item-img-container {
    margin-right: 7px;
}
a.news-item-name {
	text-decoration:none;
}
.news-item {
    margin-bottom : 15px;
    padding-bottom: 10px;
}
.news-heading {
    -moz-border-radius   : 2px 2px;
    -moz-transition      : box-shadow ease-out 0.2s;
    -o-transition        : box-shadow ease-out 0.2s;
    -webkit-border-radius: 2px 2px 2px 2px;
    -webkit-transition   : box-shadow ease-out 0.2s;
    border-radius        : 2px 2px;
    margin-bottom        : 20px;
    margin-top           : 10px;
    padding              : 2px 15px 10px;
    transition           : box-shadow ease-out 0.2s;
}
.news-heading:hover {
    -moz-box-shadow   : 0 0 20px #e2ced7;
    -webkit-box-shadow: 0 0 20px #e2ced7;
    box-shadow        : 0 0 20px #e2ced7;

}
.heading-img-container {
    margin: 15px 0;
}
.heading-date {
    color    : rgb(136, 114, 135);
    font-size: 13px;
}
.heading-link {
 text-decoration: none;
}
.heading-link:hover {
    text-decoration: none;
}
.news-item-date {
    color    : rgb(136, 114, 135);
    font-size: 12px;
}
.news-container a {
    text-decarotaion: none;
}
.all-news-container a>i {
	margin-left:5px;
}
@media (min-width: 992px) {
    .con2 {
        border-left: 1px solid #eee;
    }

}
@media (min-width: 1200px) {
    .con2 {
        border-right: 1px solid #eee;
    }

}
.heading-name {
    font-size: 18px;
}
.news-row {
    margin-bottom: 50px;
}
.h1-top {
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#F88591), color-stop(100%,#ea516d));
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, -o-linear-gradient(left, #F88591 0%,#ea516d 100%);
    background      : -7% 43% url("../img/pattern_flower.png") no-repeat,50% 10% url("../img/pattern_flower.png") no-repeat, linear-gradient(to right, #F88591 0%,#ea516d 100%);
    background-color: #ea516d;
    filter          :progid          : DXImageTransform.Microsoft.gradient( startColorstr='#F88591', endColorstr='#ea516d',GradientType=1 );
    padding         : 20px;
    margin-top:10px;
}
.h1-top h1 {
    color      : white;
    margin     : 0;
    text-align : right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}