@font-face {
  font-family: 'Pt Sans Regular';
    src: url('../fonts/pt-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
    src: url('../fonts/pt-sans-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Bold';
    src: url('../fonts/ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Light';
    src: url('../fonts/ClearSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Medium';
    src: url('../fonts/ClearSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Regular';
    src: url('../fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Thin';
    src: url('../fonts/ClearSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
