.region-modal h1{
	margin-left: 4%;
}
.region-modal .choose-region-container {
	padding-bottom: 30px;
}
.region-modal .choose-region-container .first-two-columns, .region-modal .choose-region-container .second-two-columns {
	display:inline-block;
	width: 49%;
}
.region-modal .choose-region-container  ul {
	display:inline-block;
	list-style:none;
	text-align: left;
	padding-left:0;
	margin-left: 8%;
	width: 40%;
	vertical-align:top;
}
.region-modal .choose-region-container  ul li {
	padding-top:5px;
}
.divider {
	display:none;
}

@media screen and (max-width: 1200px) {
	.region-modal .choose-region-container  ul {
		margin: 0 10%;
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.region-modal .choose-region-container .first-two-columns, .region-modal .choose-region-container .second-two-columns {
		display:block;
		width:100%;
	}
}