/*general styles*/

body {
	color:#555;
	font-family: Arial, Helvetica;
}
a {
  color:#222;/*#540632;*/
  text-decoration: underline;
}
a:hover{
  color:#888/*#f4a7af;#960072;*/
}

/*TOP-PANEL
----------------------*/

.top-panel {
  height:auto;
  padding:3px 0;
  background-color:#eee;/*#e0e0e0*/;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2000;
  border-bottom:1px solid #999;
}
.top-panel .panel-item {
  display:inline-block;
  width:auto;
  position:relative;
}
.top-panel .country {
  cursor: pointer;
  margin-right:10px;
  margin-top:4px;
  vertical-align:top;
}
.top-panel .country .flag img {
  max-height:20px;
  border: 1px solid #999;
  margin-right:3px;
}
.top-panel .city a {
  font-size:15px;
  text-decoration:none;
  border-bottom: 1px dotted #222;
  display: block;
  font-family: IntroRegular, Arial, Helvetica;
}
.top-panel .city .address {
  font-size:10px;
  display:block;
  margin-top:-20px;
}
.top-panel .phones>div {
  display:inline-block;
}
.top-panel .phones .prefix {
  font-size:12px;
  margin-right:3px;
  color:#222;
}
.top-panel .phones .phone {
  color: #960072;/*#683C8B;*/
  margin-right:3px;
  font-size:16px;
}
.top-panel .work-time {
  font-size:10px;
}
.top-panel .right-top-panel {
  float:right;
}
.top-panel .right-top-panel .personal, .top-panel .right-top-panel .wishlist {
  vertical-align: top;
  margin: 10px 35px 0 0;
  font-size: 15px;
}
.top-panel .right-top-panel .personal a span, .top-panel .right-top-panel .wishlist a span {
  margin-right: 5px;
}
.top-panel .right-top-panel .courses-basket {
  margin-right:30px;
  margin-top:8px;
  vertical-align:top;
}
.top-panel .right-top-panel .courses-basket a img{
  max-height:22px;
}
.top-panel .right-top-panel .panel-item.courses-basket .amount-of-products{
  top:-8px;
}
.top-panel .right-top-panel .products-basket a span{
  font-size: 26px;
  margin-top: 5px;
}

.top-panel .right-top-panel .products-basket .amount-of-products {
	background-color:#FF002F;
}

.top-panel .right-top-panel .courses-basket .amount-of-products {
	background-color:#027d11;
}
.top-panel .right-top-panel .panel-item .amount-of-products {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 2px;  
  height: auto;
  min-width: 18px;
  border-radius: 9px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

/*NAVBAR
---------------------------*/

.navbar-wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1998;
}
.navbar-wrapper .navbar.navbar-wide {
   height: 100px;
   padding:0px;
   margin:0px;
   background-color: rgba(32, 32, 32, 0.9);
} 
.navbar-wrapper .navbar .nav.navbar-nav.nav-right {
  float:right;
}
.navbar-wrapper .navbar-header .navbar-brand img.logo-shop, .navbar-wrapper .navbar-header .navbar-brand img.logo-school {
  max-height:70px;
  margin-right:10px;
}
.navbar-wrapper .navbar-wide .navbar-header {
  height:100px;
}
.navbar-wrapper .navbar-wide .navbar-header .navbar-toggle {
  margin-top:32px;
}
.navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
  color:white;
  line-height:70px;
  font-size:14px;
  text-decoration:none;
}
.navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a:hover{
 color:#ea516d;
}
.navbar-wrapper .navbar-wide .navbar-nav.nav-right>.active>a {
  color:#ea516d;
  background-color:transparent/*#222*/;
}

/*CONTENT
------------------------------*/

/*main-page*/
.main-text-block {
}

.main-text-block .heading {
	color:#ea516d;
	font-size:40px
}
.main-text-block .heading .subheading {
	color:#888;/*#f4a7af;*/
}

/*PRODUCTS-SLIDER 
------------------------------*/
.product-slider {
	padding: 0 40px;
}
.product-slider .item img {
	max-width: 200px;
	max-height: 200px;
	-moz-box-sizing   : border-box;
    -moz-transition   : border-color ease-out 0.2s;
    -o-box-sizing     : border-box;
    -o-transition     : border-color ease-out 0.2s;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color ease-out 0.2s;
     transition        : border-color ease-out 0.2s;
     border-color:#fff;
}
.product-slider .item img:hover {
	border: 1px solid #f4a7af;
}
.product-slider .owl-pagination {
	display: none;
}
.product-slider .owl-controls .owl-buttons div.owl-prev, .product-slider .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:40%;
	margin:0;
	font-size: 14px;
	background-color: transparent;
	color: #999;
}
.product-slider .owl-controls .owl-buttons div.owl-prev {
	right:97%;
	padding: 2px 8px 2px 6px;
}
 .product-slider .owl-controls .owl-buttons div.owl-next{
	left:96%;
	padding: 2px 6px 2px 8px;
}

/*FOOTER
-------------------------------*/
.footer {
	margin-top:30px;
	padding-top:15px;
	border-radius:5px;
	background-color: #333;
}
.footer .navbar-bottom {
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom: 1px solid #e0e0e0;
}
.footer .navbar-bottom a {
	color:#e0e0e0;
	text-decoration: underline;
	display:block;
	font-weight: 200;
	margin-bottom:5px;
}
.footer .navbar-bottom .social-networks {
	float:right;
}
.footer .navbar-bottom .social-networks:after{
	clear:both;
}
.footer .navbar-bottom .social-networks a {
	display:inline;
}
div.footer-pink {
	background-color: #ea516d;
}
div.footer-pink .navbar-bottom {
	border-bottom: 1px solid #fff;
}
div.footer-pink .navbar-bottom a {
	color:#fff;
}
div.footer-pink .navbar-bottom a:hover {
	text-decoration:none;
}

/*resposive css
-------------------------------*/

@media screen and (max-width: 992px) {
  .top-panel {
    position:relative;
  }
  .navbar-wrapper {
    position: relative;
    top:0;
    margin:0;
  }
  .navbar-wrapper .container {
    padding:0;
    width:100%;
  }
   .navbar-wrapper .navbar-header {
    width:100%;
  }
  .navbar-wrapper .navbar-header .navbar-toggle {
    display:block;
  }
  .navbar-wrapper .container .navbar.navbar-wide {
    border-radius:0px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar-wide .navbar-collapse .nav-right {
    display:none;
  }
  .navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    color:red;
  }
}

@media screen and (min-width: 992px) and (max-width: 1170px) {
  .navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    line-height:80px;
    font-size:14px;
    padding:10px;
  }
}
