/*general styles*/

body {
	color:#666;
	font-family: Pt Sans, Arial, Helvetica;
}
a {
  color:#444;/*#540632;*/
  text-decoration: none;
  font-family: Pt Sans Narrow, Arial, Helvetica;
  text-transform: uppercase;
  font-size: 12px;
}
a:hover{
  color:#888/*#f4a7af;#960072;*/
}

.shadow {
	-webkit-box-shadow: 0px 0px 5px #bbb;
    -moz-box-shadow: 0px 0px 5px #bbb;
    box-shadow: 0px 0px 5px #bbb;
}

.pink-shadow {
	-webkit-box-shadow: 0px 0px 5px #f4a7af;
    -moz-box-shadow: 0px 0px 5px #f4a7af;
    box-shadow: 0px 0px 5px #f4a7af;
}

/*TOP-PANEL
----------------------*/

.top-header {
  height:auto;
  padding:3px 0;
  background-color:#fefefe;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2000;
  border-bottom:1px solid #eee;
}
.top-header .panel-item {
  display:inline-block;
  width:auto;
  position:relative;
  font-size: 14px;
  vertical-align:top;
  padding:0 10px;
  border-right: 1px solid #eee;
}
.top-header .last {
	border:none;
	padding:0 0 0 10px;
}
.top-header .country {
  cursor: pointer;
}
.top-header .country .flag img {
  max-height:13px;
  border: 1px solid #bbb;
  margin-right:3px;
}
.top-header .city a {
  border-bottom: 1px dotted #444;
  display: block;
}
.top-header .city a:hover {
	text-decoration:none;
}
.top-header .phones>div {
  display:inline-block;
  font-family: Pt Sans Narrow, Arial, Helvetica;
}
.top-header .phones span {
color: #444;
  margin-right:3px;
  font-size:14px;
}
.top-header .right-top-header .panel-item .amount-of-products {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 2px;  
  height: auto;
  min-width: 18px;
  border-radius: 9px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}
/*MIDDLE-HEADER
----------------------------*/
.middle-header {
	position:fixed;
	top:27px;
	left:0;
	right:0;
	z-index: 1999;
	padding: 10px 0;
	background-color:white;
	border-bottom:1px solid #eee;

}
.middle-header .brand img {
	max-height:50px;
	margin-right: 30px;
}
.middle-header .icons-wrapper {
	margin-top:12px;
}
.middle-header .icons-wrapper .item {
	display:inline-block;
	margin-left:30px;
	position:relative;
}
.middle-header .icons-wrapper .item a {
	color: #ea516d;
	font-size:16px;
}
.middle-header .icons-wrapper .item a:hover {
	color: #ea516d;
	text-decoration: none;
}
.middle-header .item .item-title {
	text-transform: none;
	font-family: Pt Sans;
	font-size: 14px;
	margin: 0 5px;
}
.middle-header .item .amount-of-products {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 2px;  
  height: auto;
  min-width: 18px;
  border-radius: 9px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background-color: #ea516d;
}

/*NAVBAR
---------------------------*/
.navbar-wrapper {
  position: fixed;
  top: 78px;
  right: 0;
  left: 0;
  z-index: 1998;
border-bottom:1px solid #eee;
  background-color:white;
}
/*.navbar-wrapper:after{
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: .10;
background-image:url(../img/noise.png);
}*/
.navbar-wrapper .navbar.navbar-wide {
   padding:0px;
   margin:0px;
  /* background-color: rgba(32, 32, 32, 0.9);*/
  border:none;
  background: transparent;
  padding: 10px 0;
  min-height:30px
} 
.navbar-wrapper .navbar-wide .navbar-nav {
	margin-left:-30px;
	float:none;
}
.navbar-wrapper .navbar-wide .navbar-header .navbar-toggle {
  margin-top:32px;
}
.navbar-wrapper .navbar-wide .navbar-nav>li {
	float:none;
	display:inline-block;
}
.navbar-wrapper .navbar-wide .navbar-nav>li>a {
  color:#444;
  font-size:16px;
  text-decoration:none;
  text-transform: uppercase;
  border-right: 1px solid #eee;
  padding: 0 15px;
}
.navbar-wrapper .navbar-wide .navbar-nav>.last>a {
	border:none;
}
.navbar-wrapper .navbar-wide .navbar-nav>li>a:hover{
 color:#ea516d;
}
.navbar-wrapper .navbar-wide .navbar-nav>.active>a {
  color:#ea516d;
  background-color:transparent/*#222*/;
}
/*.navbar-wrapper:after {
content: '';
display: block;
position: absolute;
top: 100;
right: 0;
opacity: 1;
background-image:url(../img/pattern_1_very_light_pink.png);
};*/

/*CONTENT
------------------------------*/

/*main-page*/
.main-text-block h2.heading {
	color:#ea516d;
	font-size:30px;
	font-family: Pt Sans Narrow, Arial, Helvetica;
	text-transform:uppercase;
}
.main-text-block .heading .subheading {
	color:#888;/*#f4a7af;*/
}
.main-text-block .annotation {
	font-family: Georgia, Times New Roman, Times, serif;
	font-style:italic;
	font-size: 16px;
	padding: 5px 0 5px 20px;
	
}


/*PRODUCTS-SLIDER 
------------------------------*/
.product-slider {
	padding: 0 40px;
}
.product-slider .item img {
	max-width: 200px;
	max-height: 200px;
	-moz-box-sizing   : border-box;
    -moz-transition   : border-color ease-out 0.2s;
    -o-box-sizing     : border-box;
    -o-transition     : border-color ease-out 0.2s;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color ease-out 0.2s;
     transition        : border-color ease-out 0.2s;
     border-color:#fff;
}
.product-slider .item img:hover {
	border: 1px solid #f4a7af;
}
.product-slider .owl-pagination {
	display: none;
}
.product-slider .owl-controls .owl-buttons div.owl-prev, .product-slider .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:40%;
	margin:0;
	font-size: 14px;
	background-color: transparent;
	color: #999;
}
.product-slider .owl-controls .owl-buttons div.owl-prev {
	right:97%;
	padding: 2px 8px 2px 6px;
}
 .product-slider .owl-controls .owl-buttons div.owl-next{
	left:96%;
	padding: 2px 6px 2px 8px;
}

/*FOOTER
-------------------------------*/
.top-footer {
	padding-top:15px;
	margin-top: 30px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.top-footer .navbar-bottom {
	margin-bottom:15px;
	padding-bottom:10px;
}
.top-footer .navbar-bottom a {
	display:block;
	margin-bottom:5px;
}
.top-footer .navbar-bottom .social-networks {
	float:right;
}
.top-footer .navbar-bottom .social-networks:after{
	clear:both;
}
.top-footer .navbar-bottom .social-networks a {
	display:inline;
	color:#ea516d;
}
.top-footer .navbar-bottom .parther-address span{
	margin:0;
	text-transform:uppercase;
	color:#444;
	font-size:16px;
}

/*resposive css
-------------------------------*/

@media screen and (max-width: 992px) {
  .top-panel {
    position:relative;
  }
  .navbar-wrapper {
    position: relative;
    top:0;
    margin:0;
  }
  .navbar-wrapper .container {
    padding:0;
    width:100%;
  }
   .navbar-wrapper .navbar-header {
    width:100%;
  }
  .navbar-wrapper .navbar-header .navbar-toggle {
    display:block;
  }
  .navbar-wrapper .container .navbar.navbar-wide {
    border-radius:0px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar-wide .navbar-collapse .nav-right {
    display:none;
  }
  .navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    color:red;
  }
}

@media screen and (min-width: 992px) and (max-width: 1170px) {
  .navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    line-height:80px;
    font-size:14px;
    padding:10px;
  }
}
