/*general styles*/

body {
	color:#666;
	font-family: Pt Sans, Arial, Helvetica;
	background-color:#f9f9f9;
	/*not for out-of-date browsers*/
	display:flex;
	min-height: 100vh;
  	flex-direction: column;
}
a {
  color:#444;
  text-decoration: underline;
  font-family: Pt Sans, Arial, Helvetica;
  font-size: 14px;
}
a:hover{
  color:#AD0423/*#888*/;
   text-decoration: none;
}

.shadow {
	-webkit-box-shadow: 0px 0px 3px rgba(247, 229, 232, 0.7);
    -moz-box-shadow: 0px 0px 3px rgba(247, 229, 232, 0.7);
    box-shadow: 0px 0px 3px rgba(247, 229, 232, 0.7);
}
h1 {
	color:#444;
}
:focus {
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
	outline: none;
}
input[type="file"], input[type="email"], input[type="text"], input[type="password"], textarea, select {
	background: #fff;
	border: 1px solid #c1c5c8;
	border-radius: 2px;
	color: #000;
	box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
	display: inline-block;
	outline: none;
	vertical-align: middle;
	font-size: 14px;
	padding: 6px 8px;
	transition: border-color, box-shadow ease 0.3s;
}
input[type="file"]:focus, input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border-color: #f4a7af;
	outline: 0;
	-webkit-box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
	 -moz-box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
	box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
}
input[type="submit"].btn-pink, a.btn-pink, button.btn-pink {
	background-color:#ea516d;
	color:white;
	padding:8px 75px;
	font-size:18px;
	border: 1px solid #D32847;
	-webkit-text-shadow:1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-text-shadow:1px 2px 0 rgba(0, 0, 0, 0.15);
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	transition: background-color ease-out 0.2s;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	text-align:center;
	outline:none;
	text-decoration:none;
	display: inline-block;
}
input[type="submit"].btn-pink:active, a.btn-pink:active, button.btn-pink:active {
	background: #BD1836;
	outline: none;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
input[type="submit"].btn-pink:hover, a.btn-pink:hover, button.btn-pink:hover {
	background: #FF5776;
	color: white;
}
input[type="submit"].btn-pink:active:focus {
	outline: none;
}
input[type="submit"].btn-pink:focus, a.btn-pink:focus/*, button.btn-pink:focus */{
	background: #BD1836;
	outline: none;
	color:white;
}

a.btn-pressed, button.btn-pressed {
	background: #F88591;
	color: white;
	border: 1px solid #ea516d;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-size: 13px;
	padding: 5px 14px;
	text-decoration: none;
}
input[type="submit"].btn-grey{
	font-size:13px;
	padding: 4px 10px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ffffff;
    -moz-border-radius   : 5px;
    -moz-box-shadow      : 0 1px 2px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -webkit-box-shadow   : 0 1px 2px rgba(0,0,0,.2);
    border-radius        : 5px;
    border: 0;
    border-top           : 1px solid #e6e6e6;
    box-shadow           : 0 1px 2px rgba(0,0,0,.2);
    font-size            : 13px;
    padding              : 7px 14px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

input[type="submit"].btn-grey:hover {
	background: #F0F0F0;
	color: black;

}
input[type="submit"].btn-grey:active {
    border-top-color: #d9d9d9;
    background: #E7E7E7;
}

a.btn-grey, button.btn-grey  {
	background: #ffffff;
    -moz-border-radius   : 5px;
    -moz-box-shadow      : 0 1px 2px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -webkit-box-shadow   : 0 1px 2px rgba(0,0,0,.2);
    border-radius        : 5px;
    border-top           : 1px solid #e6e6e6;
    box-shadow           : 0 1px 2px rgba(0,0,0,.2);
    font-size            : 13px;
    padding              : 7px 14px;
    text-decoration      : none;
	-webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
a.btn-grey:hover, button.btn-grey:hover{
	background: #F0F0F0;
	color: black;
}
a.btn-grey:active, button.btn-grey:active {
    border-top-color: #d9d9d9;
    background: #E7E7E7;
}
a.btn-grey.active{
	background: #ea516d;
	color: white;
	border: 1px solid #D32847;
}
/*TOP-PANEL
----------------------*/

.top-header {
  height:auto;
  padding:5px 0;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2000;
  border-bottom:1px solid #eee;
}
.top-header .panel-item {
  display:inline-block;
  width:auto;
  position:relative;
  font-size: 14px;
  vertical-align:top;
  padding:0 10px;
  border-right: 1px solid #eee;
}
.top-header .last {
	border:none;
	padding:0 0 0 10px;
}
.top-header .country {
  cursor: pointer;
  padding: 0 10px 0 0;
}
.top-header .country .flag img {
  max-height:13px;
  border: 1px solid #bbb;
  margin-right:3px;
}
.top-header .city a {
  border-bottom: 1px dashed #444;
  text-decoration:none;
}
.top-header .city a:hover {
	text-decoration:none;
}
.top-header .phones>div {
  display:inline-block;
  font-family: Pt Sans Narrow, Arial, Helvetica;
}
.top-header .phones span {
color: #444;
  margin-right:3px;
  font-size:14px;
}
.top-header .right-top-header .panel-item .amount-of-products {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 2px;  
  height: auto;
  min-width: 18px;
  border-radius: 9px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

/*NAVBAR
---------------------------*/
.navbar-wrapper {
  position: fixed;
  top: 31px;
  right: 0;
  left: 0;
  z-index: 1998;
border-bottom:1px solid #eee;
  background-color:white;
  margin:0;
}
.navbar-wrapper .brand {
	padding-top: 7px;
	display: block;
}
.navbar-wrapper .brand img {
	max-height:70px;
}
.navbar-wrapper .brand img.logo-shop{
	margin-right: 25px;
}
.navbar-wrapper  .icons-wrapper {
	margin:5px -15px  20px 0;
	float:right;
}
.navbar-wrapper  .icons-wrapper .item {
	display:inline-block;
	margin-left:30px;
	position:relative;
}
.navbar-wrapper  .icons-wrapper .item a {
	color: #ea516d;
	font-size:16px;
	text-decoration:none;
}
.navbar-wrapper .icons-wrapper .item a:hover {
	color:#AD0423;
	text-decoration: none;
}
.navbar-wrapper .item .item-title {
	text-transform: none;
	font-family: Pt Sans;
	font-size: 14px;
	margin: 0 5px;
	position:relative;
}
/*.navbar-wrapper:after{
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: .10;
background-image:url(../img/noise.png);
}*/
.navbar-wrapper .navbar-wide {
   padding:0px;
   margin:0px;
  border:none;
  background: transparent;
  padding: 10px 0;
  min-height:30px;
  float:right;
} 
.navbar-wrapper .navbar-wide .navbar-nav {
	margin-right:-45px;
}
.navbar-wrapper .navbar-wide .navbar-nav>li>a {
  color:#444;
  font-size:15px;
  text-decoration:none;
  text-transform: uppercase;
  border-right: 1px solid #eee;
  padding: 0 15px;
}
.navbar-wrapper .navbar-wide .navbar-nav>.last>a {
	border:none;
}
.navbar-wrapper .navbar-wide .navbar-nav>li>a:hover{
 color:#ea516d;
  background-color:transparent;
}
.navbar-wrapper .navbar-wide .navbar-nav>.active>a {
  color:#ea516d;
  background-color:transparent;
}
/*.navbar-wrapper .navbar-wide .navbar-nav>.active>a:after {
	content: '';
display: block;
position: absolute;
top: 150%;
left: 50%;
margin-left: -5px;
opacity: 1;
width: 0;
height: 0;
border: 10px solid transparent;
border-top-color: #ea516d;
border-bottom: 0;
}
.navbar-wrapper:after {
content: '';
display: block;
position: absolute;
top: 100;
right: 0;
opacity: 1;
background-image:url(../img/pattern_1_very_light_pink.png);
};*/
/*WRAPPER
-----------------------------*/
.wrapper {
	position:relative;
	padding-top:120px;
	flex:1;
}
/*CAROUSEL
-----------------------------*/
.carousel {
	position:relative;
	margin-bottom:20px;
	height:auto;
}
.carousel .item {
	max-height:500px;
}

.carousel .item  img{
	width:100%;
}

.carousel .owl-controls .owl-buttons div.owl-prev, .carousel .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:39%;
	margin:0;
	font-size: 14px;
	color: #eee;
}
.carousel .owl-controls .owl-buttons div.owl-prev {
	left:0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius:0 5px 5px 0;
	padding: 10px 25px 10px 15px;
}
.carousel .owl-controls .owl-buttons div.owl-next {
	right:0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius:5px 0 0 5px;
	padding: 10px 15px 10px 25px;
}

/*CONTENT
------------------------------*/

/*main-page*/
.main-text-block h2.heading {
	color:#ea516d;
	font-size:30px;
}
.main-text-block .heading .subheading {
	color:#888;/*#f4a7af;*/
}
.main-text-block .annotation {
	font-family: Georgia, Times New Roman, Times, serif;
	font-style:italic;
	font-size: 16px;
	padding: 5px 0 5px 20px;
	
}


/*PRODUCTS-SLIDER 
------------------------------*/
.product-slider {
	padding: 0 40px;
	margin-bottom:20px;
}
.product-slider .item img {
	max-width: 200px;
	max-height: 200px;
	-moz-box-sizing   : border-box;
    -moz-transition   : border-color ease-out 0.2s;
    -o-box-sizing     : border-box;
    -o-transition     : border-color ease-out 0.2s;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color ease-out 0.2s;
     transition        : border-color ease-out 0.2s;
     border-color:#fff;
}
.product-slider .item img:hover {
	border: 1px solid #f4a7af;
}
.product-slider .owl-controls .owl-buttons div.owl-prev, .product-slider .owl-controls .owl-buttons div.owl-next {
	position:absolute;
	top:40%;
	margin:0;
	font-size: 14px;
	background-color: transparent;
	color: #999;
}
.product-slider .owl-controls .owl-buttons div.owl-prev {
	left:0;
	padding: 2px 8px 2px 6px;
}
 .product-slider .owl-controls .owl-buttons div.owl-next{
	right:0;
	padding: 2px 6px 2px 8px;
}

/*FOOTER
-------------------------------*/
.top-footer {
	padding-top:15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color:white;
}
.top-footer .navbar-bottom {
	padding-bottom:10px;
}
.top-footer .navbar-bottom a {
	display:block;
	margin-bottom:5px;
}
.top-footer .navbar-bottom .social-networks {
	display:inline-block;
	vertical-align:top;
	margin-right:25px;
}
.top-footer .navbar-bottom .social-networks:after{
	clear:both;
}
.top-footer .navbar-bottom .social-networks a {
	display:inline-block;
	color:#ea516d;
	vertical-align:middle;
}
.top-footer .navbar-bottom .social-networks a img {
	height: 25px;
    vertical-align: top;
}
.top-footer .navbar-bottom .contacts {
	display:inline-block;
}
.top-footer .navbar-bottom .parther-address, .top-footer .navbar-bottom .parther-phones {
	text-align:right;
}
.top-footer .navbar-bottom .parther-address>span, .top-footer .navbar-bottom .parther-phones>span {
	margin:0;
	text-transform:uppercase;
	color:#444;
	font-size:14px;
	font-family:Pt sans , Arial, Helvetica;
}
.bottom-footer {
	padding-top:10px;
	background-color:white;
}


/*CATALOG
=================================*/
.catalog-left-divider {
	padding:0;
	border-left:1px solid #eee;
}
.catalog {
    padding: 10px 20px 0 20px;
	border:none;
}
.catalog .catalog-top {
	background-color: #ea516d;
	margin:  0 -20px;
	padding: 20px;
	background: -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -moz-linear-gradient(left, #F88591 0%, #ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#F88591), color-stop(100%,#ea516d));
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -webkit-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -o-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, -ms-linear-gradient(left, #F88591 0%,#ea516d 100%);
	background:  -7% 43% url('../img/pattern_flower.png') no-repeat,50% 10% url('../img/pattern_flower.png') no-repeat, linear-gradient(to right, #F88591 0%,#ea516d 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F88591', endColorstr='#ea516d',GradientType=1 );
}
.catalog .catalog-top h1 {
	text-align: right;
	color: white;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
	margin:0;
}

.catalog .section {
 /*   border-bottom: 1px solid #eee;*/
    margin-bottom: 15px;
    margin-top   : 20px;
}
.catalog .section .section-heading {
	border-bottom: 1px solid #eee;
}
.catalog .section .section-heading .custom-size {
	font-size: 1.5em;
}
.catalog .section .section-heading h2, .catalog .section .section-heading  h3 {
	display:inline-block;
	margin-bottom: 5px;
}
.catalog .section .section-heading h2{
	margin-right:5px;
	font-size:24px;
}
.catalog .section .section-heading h3{
	color: #888;
	font-size:18px;
}	
.catalog .section .section-items {
	margin:20px -6px;
}			
.item-container {
    width     :auto;
/*  text-align    : left;
    vertical-align: top;*/
}
.item-container {
    -moz-box-sizing   : border-box;
    -moz-transition   : border-color ease-out 0.2s;
    -o-box-sizing     : border-box;
    -o-transition     : border-color ease-out 0.2s;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color ease-out 0.2s;
    border            : 1px solid white/*#eee*/;
    box-sizing        : border-box;
    display           : inline-block;
    background-color: white;
    transition        : border-color ease-out 0.2s;
    padding:10px;
    margin:0 5px 15px 5px;
    border-radius:1px;
}
.item-container:hover {
	border-color: #eee;
}
.item-container a {
	text-decoration:none;
}
/*.item-container a:hover {
	color:#ea516d;
}*/
.item-container img{
    max-width:170px;
}
.item-name-container {
    margin-top: 10px;
}
.item-price-container {
    margin-top: 2px;
    color:#444;
}
.item-price {
    font-weight: bold;
    margin-right:5px;
}


	
			
			
			/*on contaner-item hover*/
			.view img {
			   -webkit-transform: scaleY(1);
			   -moz-transform: scaleY(1);
			   -o-transform: scaleY(1);
			   -ms-transform: scaleY(1);
			   transform: scaleY(1);
			   -webkit-transition: all 0.7s ease-in-out;
			   -moz-transition: all 0.7s ease-in-out;
			   -o-transition: all 0.7s ease-in-out;
			   -ms-transition: all 0.7s ease-in-out;
			   transition: all 0.7s ease-in-out;
			}
			.view .mask {
			   background-color: /*rgba(255, 231, 179, 0.3)*/rgba(248,162,177,0.1);
			   -webkit-transition: all 0.5s linear;
			   -moz-transition: all 0.5s linear;
			   -o-transition: all 0.5s linear;
			   -ms-transition: all 0.5s linear;
			   transition: all 0.5s linear;
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   filter: alpha(opacity=0);
			   opacity: 0;
			}
			.view h2 {
			   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			   background: transparent;
			   margin: 20px 40px 0px 40px;
			   -webkit-transform: scale(0);
			   -moz-transform: scale(0);
			   -o-transform: scale(0);
			   -ms-transform: scale(0);
			   transform: scale(0);
			   color: #333;
			   -webkit-transition: all 0.5s linear;
			   -moz-transition: all 0.5s linear;
			   -o-transition: all 0.5s linear;
			   -ms-transition: all 0.5s linear;
			   transition: all 0.5s linear;
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   filter: alpha(opacity=0);
			   opacity: 0;
			}
			.view p {
			   color: #333;
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   filter: alpha(opacity=0);
			   opacity: 0;
			   -webkit-transform: scale(0);
			   -moz-transform: scale(0);
			   -o-transform: scale(0);
			   -ms-transform: scale(0);
			   transform: scale(0);
			   -webkit-transition: all 0.5s linear;
			   -moz-transition: all 0.5s linear;
			   -o-transition: all 0.5s linear;
			   -ms-transition: all 0.5s linear;
			   transition: all 0.5s linear;
			}
			.view a.info {
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   filter: alpha(opacity=0);
			   opacity: 0;
			   -webkit-transform: scale(0);
			   -moz-transform: scale(0);
			   -o-transform: scale(0);
			   -ms-transform: scale(0);
			   transform: scale(0);
			   -webkit-transition: all 0.5s linear;
			   -moz-transition: all 0.5s linear;
			   -o-transition: all 0.5s linear;
			   -ms-transition: all 0.5s linear;
			   transition: all 0.5s linear;
			   background-color:/*rgba( 56,162,136,1)*/rgba(  0,161,120,1);
			}
			.view a.info:hover {
				background-color:rgba /*( 13,120, 93,1)*/ rgba( 56,162,136,1);
			}
			.view:hover img {
			   -webkit-transform: scale(10);
			   -moz-transform: scale(10);
			   -o-transform: scale(10);
			   -ms-transform: scale(10);
			   transform: scale(10);
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			   filter: alpha(opacity=0);
			   opacity: 0;
			}
			.view:hover .mask {
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			   filter: alpha(opacity=100);
			   opacity: 1;
			}
			.view:hover h2,.view:hover p,.view:hover a.info {
			   -webkit-transform: scale(1);
			   -moz-transform: scale(1);
			   -o-transform: scale(1);
			   -ms-transform: scale(1);
			   transform: scale(1);
			   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			   filter: alpha(opacity=100);
			   opacity: 1;
			}
/*BREADCRUMBS
-------------------------------*/
.bredcrumbs a, .bredcrumbs span {
	display:inline-block;
	padding:0 5px;
}
/*CATALOG DETAIL
-------------------------------*/
.top-wrapper {
	padding:15px 15px 0 15px;
}
.content-wrapper{
	padding: 0 15px 15px 15px;
}
.img-detail-wrapper, .catalog-detail-wrapper {
	display:inline-block;
	width:45%;
	vertical-align:top;
}
.img-detail-wrapper img {
	max-width:100%;
	max-height:600px;
}
.catalog-detail-wrapper {
	padding-left:15px;
}
.catalog-detail-wrapper .description-detail, .catalog-detail-wrapper .balance-depot-stock {
	margin-bottom:15px;
}
.catalog-detail-wrapper .price {
	color: #444;
	font-weight:bold;
	font-size: 20px;
	margin-bottom:15px;
	
}
.catalog-detail-wrapper .price span {
	padding-right:5px; 
}
.catalog-detail-wrapper .balance-depot-stock .amount{
	padding-left:5px;
}
/*comments
------------------------------*/
.comments-block {
	width:100%;
	margin:30px 0;
}
.comments-block .comments-block-title {
	font-size:24px;
	color:#444;
}
.comments-block .comment-item .user-icon img{
	max-height:30px;
	max-width:30px;
	border-radius:5px;
	float: left;
}
.comments-block .comment-item .comment-item-top {
	float: left;
	margin: 5px 0 0 10px;
}
.comments-block .comment-item .comment-item-top>span {
	color: #ea516d;
	font-weight:700;
}
.comments-block .comment-item .comment-item-top>.no-authorize {
	color: #666;
}
.comments-block .comment-item .comment-item-controls {
	float:right;
}
.comments-block .comment-item .comment-item-controls .green {
	color: rgb(21, 153, 21);
}
.comments-block .comment-item .comment-item-controls span {
	padding-right:5px;
}
.comments-block .comment-item .comment-item-controls .admin-control {
	display:none;/*inline-block;*/
	margin-left:5px;
}
.comments-block .comment-item .comment-item-reply-link {
	float: right;
	border-bottom: 1px dashed;
	text-decoration: none;
}
.comment-reply #leave-comment-link {
	border-bottom: 1px dashed;
	text-decoration: none;
}
.comments-block .comment_submit {
	background-color:#ea516d;
	color:white;
	padding:8px 75px;
	font-size:18px;
	border: 1px solid #D32847;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.comments-block .comment_submit:active {
	background: #BD1836;
}
.comments-block .comment_submit:hover {
	background: #FF5776;
	color: white;
}
.comments-block .comment_submit:focus{
	outline: none;
}
.comments-block br.clear {
	clear:both;
}
.comments-block .divider {
	border-bottom:1px solid #eee;
	margin:15px 0;
}
/*LEFT MENU
-------------------------------*/
.left-menu-container .left-menu .without-border {
	border:none;
}
.container .left-menu-col {
	padding: 0;
}	
.left-menu-container .left-menu .bs-docs-sidebar {
	padding:0;
}	
.left-menu-container .left-menu .bs-docs-sidebar .nav {
	margin-top:0;
}
.left-menu-container .left-menu .nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration:none;
}	
.left-menu-container .left-menu .nav>.active>a, .left-menu-container .left-menu .nav>li:hover>a, .left-menu-container .left-menu .nav>li:focus>a {
	color: #444;
	border-left: 2px solid  #ea516d;
	font-weight:400;
}
.left-menu-container .left-menu .nav .nav>li>a {
	font-size: 14px;
	text-transform: none;
}
.left-menu-container .left-menu .nav .nav>.active>a, .left-menu-container .left-menu .nav .nav>li:hover>a, .left-menu-container .left-menu .nav .nav>li:focus>a  {
	border-left: none;
	color: #444;
} 
.left-menu-container .left-menu .nav .nav>li:hover>a {
	/*border-left: 1px solid  #ea516d;*/
}

/*personal-profile
-------------------------------*/
.personal-profile, .change-password {
	padding: 0 15px 15px 15px;
}
.personal-profile .section h2, .change-password .section h2 {
	border-bottom:1px solid #eee;
	font-size: 24px;
}
.personal-profile .section .section-container .form-group input {
	width:50%;
}
.personal-profile .section .section-container .info-container{
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.personal-profile .section .section-container .info-container input {
	width:100%;
}
.personal-profile .section .section-container .photo-container {
	text-align: center;
	padding: 10px;
	width:45%;
	display:inline-block;
}
.personal-profile .section .section-container .photo-container img {
	max-height: 200px;
	max-width: 200px;
	margin: 10px;
	border:1px solid #eee;
}

.personal-profile .section .section-container .photo-container input{
	width:75%;
}

.personal-profile .section .section-container .photo-container .btn {
	margin-top:10px;
}
.personal-profile .section.prof-info {
	margin-bottom:15px;
}
.personal-profile .section.prof-info .prof-checkbox>span {
	font-size:18px;
}
.personal-profile .section.prof-info .prof-checkbox .bootstrap-switch-wrapper{
	margin-left:10px;
}
.personal-profile .section.prof-info .prof-checkbox .bootstrap-switch-wrapper.bootstrap-switch-on .bootstrap-switch-container  .bootstrap-switch-primary,
.personal-profile .section.prof-info .prof-checkbox .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background-color:#ea516d;	
}
 .personal-profile .section.prof-info .prof-checkbox .bootstrap-switch.bootstrap-switch-focused {
 	border-color: #f4a7af;
	outline: 0;
	-webkit-box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
	 -moz-box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
	box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5), 0 0 8px rgba(244, 167, 175, 0.5);
 }
 .personal-profile .section .section-container .salon-addresses {
 	display:none;
 }
.personal-profile .section .section-container .salon-addresses table{
	margin:15px 0;
	width:100%;
	background-color: white;
}
.personal-profile .section .section-container .salon-addresses a.add-address {
	text-decoration:none;
	border-bottom:1px dashed;
}
.personal-profile .section .section-container .salon-addresses table tbody>tr>td, .personal-profile .section .section-container .salon-addresses table thead>tr>th {
	border:1px solid #eee;
	padding:5px 10px;
}
 .change-password .section input {
 	width:50%;
 }
 
 /*registration*/
 .registration-wrapper {
 	width:100%;
 	margin:0 auto;
 	padding-bottom:50px;
 }
   .registration-wrapper h1 {
  	border-bottom: 1px solid #eee;
  	margin-bottom:20px;
  }
  .registration-wrapper .captcha-group img{
  	border: 1px solid #eee;
  	width:48%;
  }
    .registration-wrapper .captcha-group input {
    width:50%;
  }
.registration-wrapper input[type="submit"] {
	width:100%;
}
  
  
   
 /*auth*/
 .auth-wrapper {
 	margin:0 auto;
 	padding-bottom:50px;
 }
  .auth-wrapper h1 {
  	border-bottom: 1px solid #eee;
  }
  .auth-wrapper .auth {
  	text-align:left;
  }
  .auth-wrapper .divider {
  	border-bottom: 1px solid #eee;
  	height:0;
  	width:100%;
  	margin: 25px 0;
  	text-align:center;
  	position:relative;
  }
.auth-wrapper .divider>span {
	position:absolute;
	top:-10px;
	font-size:16px;
	padding:0 15px;
	background-color:#f9f9f9;
	margin-left:-25px;
}
.auth-wrapper input[type="submit"], .auth-wrapper .register a {
	width:100%;
}
/*resposive css
-------------------------------*/

@media screen and (max-width: 1200px) {
	.top-header {
    position:relative;
  }
  .navbar-wrapper {
    position: relative;
    top:0;
    margin:0;
  }
  .wrapper {
  	padding:0;   
  }
}
@media screen and (max-width: 1200px) {
	.carousel {
	  	margin-top:15px;
	}
	
	.img-detail-wrapper, .catalog-detail-wrapper {
		width:100%;
	}
	.catalog-detail-wrapper {
		padding-left:0;
		padding-top:15px;
	}
  
} 

@media screen and (min-width: 650px) and (max-width: 1200px) {
	.img-detail-wrapper img {
		max-width:600px;
		max-height: 100%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    	font-size:12px;
    	padding: 0 4px;
    	letter-spacing:0;
  	}
  	.navbar-wrapper .brand img {
		max-height:60px;
	}
	.navbar-wrapper .brand img.logo-shop{
		margin-right: 10px;
	}
	.navbar-wrapper .navbar-wide .navbar-nav {
		margin-right: -35px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.navbar-wrapper .brand {
  		padding: 10px 0 10px 15px;
  	}
  	.navbar-wrapper .brand img {
		max-height:60px;
	}
	.navbar-wrapper .brand img.logo-shop{
		margin-right: 10px;
	}
	.icons-wrapper {
  		padding-right:15px;
  	}
  	.navbar-wrapper .navbar-wide {
  		padding-right:10px;
  	}
  	.navbar-wrapper .navbar-wide .navbar-nav {
  		margin-right:0;
  	}
	.navbar-wrapper .navbar-wide .container, .navbar-wrapper .navbar-wide .container .navbar-collapse {
		padding:0;
	}
	.navbar-wrapper .navbar-wide .navbar-nav.nav-right>li>a {
    	font-size:11px;
    	padding: 0 5px;
  	}

}
@media screen and (max-width: 992px) {
	.carousel .container {
		width:100%;
		margin:0;
		padding:0;
	}
	.carousel .owl-theme .owl-controls .owl-buttons {
  		display:none;
  	}
}
@media screen and (max-width: 992px) {
	.catalog-left-divider {
  		border:none;
  	}
}
@media screen and (max-width: 992px) {
	.navbar-wrapper .navbar-wide .navbar-header {
		display:inline-block;
	}
	.top-footer .mobile-border {
  		border-top:1px solid #eee;
  	}
  	.top-footer .mobile-text-center {
  		text-align:center;
  	}
  	.top-footer .mobile-text-left {
  		text-align:left;
  	}
  	.top-footer .navbar-bottom .social-networks {
  		display:block;
  		padding:10px 0;
  		margin:10px 0 0 0;
  	} 
  	.top-footer .navbar-bottom .social-networks a {
  		display:inline-block;
  		margin:0 5px;
  	}
  	.top-footer .navbar-bottom .contacts {
  		display:block;
  	}
  	.top-footer .navbar-bottom .parther-address, .top-footer .navbar-bottom .parther-phones {
  		display:inline-block;
  		margin:20px 20px 0 0;
  		text-align:left;
  	}
}
@media screen and (max-width: 768px) {
  	.navbar-wrapper .brand {
  		padding: 10px 0 10px 15px;
  	}
  	.navbar-wrapper .brand img {
		max-height:60px;
	}
	.navbar-wrapper .brand img.logo-shop{
		margin-right: 10px;
	}
	.navbar-wrapper .mobile-text-right {
		text-align:right;
	}
	.navbar-wrapper .icons-wrapper {
		margin: 5px 25px 0 0;
		display: inline-block;
		float:none;
		vertical-align:top;
	}
	.navbar-wrapper .icons-wrapper .item {
		margin:0;
		margin-left:15px;
	}
	.navbar-wrapper .icons-wrapper .item .item-title {
		font-size: 13px;
	}
	.navbar-wrapper .navbar-wide {
		display: inline-block;
		float:none;
		margin-top:12px;
	}
	.navbar-wrapper .navbar-wide .navbar-header .navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
		background-color: #eee;
	}
	.navbar-toggle .icon-bar {
		background-color:#ea516d;
	}
	.navbar-wrapper .navbar-wide .navbar-collapse {
		padding:0;
	}
	.navbar-wrapper .navbar-wide .navbar-nav {
		margin: 0;
	}
	.navbar-wrapper .navbar-wide .navbar-nav>li>a {
		border-right: none;
		text-align:right;
	}
	.personal-profile .section .section-container .info-container, .personal-profile .section .section-container .photo-container {
		display:block;
		width:100%;
	}
	.personal-profile .section .section-container input {
		width:100%;
	}
	 .change-password .section input{
 		width:100%;
 	}
}

@media screen and (max-width: 725px) {
	.navbar-wrapper .brand img {
		max-height: 55px;
	}
	.navbar-wrapper .icons-wrapper .item .item-title {
		display:none;
	}
}

@media screen and (max-width: 460px) {
	.top-header .phones {
		display:none;
	}
	.navbar-wrapper .mobile-full-width {
		width:100%;
		text-align:center;
	}
	.navbar-wrapper .brand {
		padding-bottom:5px;
	}
	.navbar-wrapper .icons-wrapper {
		margin: 5px 30px 0 0;
	}
	.navbar-wrapper .navbar-wide {
		margin-top:0;
	}
}