.block.cities form {
    display: inline-block;
}

.block.cities button{
    padding: 0;
    background: none;
    border: none;
    font-size: 13px;
    color: #ff98aa;
    margin: 0;
}

.search_loader_li_desc {
    display: inline-block;
    width: 50px;
}

form button.cityLink{
    padding: 0;
    background: none;
    border: none;
    font-size: 14px;
    color: #ff98aa;
    margin: 0;
}


.block.cities button.select {
    font-weight: bold;
    color: #333;
}
