<style>
li{
margin-bottom:10px;
}
</style>
<ul>
	<li>
		<a href="index_hybride.html">| ОК | Главная</a>
	</li>
	<li>
		<a href="courses.html">| OK | Курсы</a>
	</li>
	<li>
		<a href="catalog.html">| OK | Каталог</a>
	</li>
		<li>
		<a href="catalog_detail.html">Каталог - детальная</a>
	</li>
	<li>
		<a href="basket.php">| OK | Корзина</a>
	</li>
	<li>
		<a href="order_make.php">Оформление заказа</a>
	</li>
	<li>
		<a href="personal_order.php">Личный кабинет - список заказов</a>
	</li>
	<li>
		<a href="personal_profile.html">Личный кабинет - профиль</a>
	</li>
	<li>
		<a href="personal.html">Личный кабинет - главная</a>
	</li>
	<li>
		<a href="auth.html">Авторизация</a>
	</li>
	<li>
		<a href="register_1.html">Регистрация</a>
	</li>
	<li>
		<a href="events.html">| OK | События - главная</a>
	</li>
	<li>
		<a href="events_list.html">| OK | События - список новостей (архив)</a>
	</li>
	<li>
		<a href="events_detail.html">| OK | События - детальная</a>
	</li>		
</ul>