@media (max-width: 992px) {

h1 {
    margin-left: 4em;
        line-height: 1.3;
}
    h1 strong {
    font-size: 36px;
}
    
.hero-fullscreen .lead {
    font-size: 22px;
    margin-left: 6em;
}
    
    .feature-left {
    width: 100%;
    display: grid;
}
    
 }