.viewed_block .owl-theme .owl-dots .owl-dot {
    display: none;
}
.viewed_block .owl-theme .owl-nav .owl-prev {
    color: #ffb1bf !important;
}
.viewed_block .owl-theme .owl-nav .owl-next {
    color: #ffb1bf !important;
}
.viewed_block .owl-theme .owl-nav [class*='owl-']:hover {
     color: #bdbdbd!important;
}
.viewed_block .owl-carousel .owl-item img {
    width: auto;
}